@charset "utf-8"

// importの前でcolorを上書きすると適用される
// $blue: #ff0000
// $link: #00ff00

$size-1: 2.4rem !default
$size-2: 2rem !default
$size-3: 1.7rem !default
$size-4: 1.5rem !default
$size-5: 1.2rem !default
$size-6: 1rem !default
$size-7: 0.75rem !default

// なんかcharset指定しても消える
@import "../node_modules/bulma/sass/utilities/_all"
@import "../node_modules/bulma/sass/base/_all"

// ここだとダメ
// $blue: #00ff00

@import "../node_modules/bulma/sass/grid/columns"
@import "../node_modules/bulma/sass/elements/content"
@import "../node_modules/bulma/sass/elements/table"
@import "../node_modules/bulma/sass/elements/title"
@import "../node_modules/bulma/sass/elements/button"
@import "../node_modules/bulma/sass/elements/container"
@import "../node_modules/bulma/sass/elements/form"
@import "../node_modules/bulma/sass/elements/icon"
@import "../node_modules/bulma/sass/components/level"
@import "../node_modules/bulma/sass/components/card"
@import "../node_modules/bulma/sass/components/navbar"
@import "../node_modules/bulma/sass/components/message"
@import "../node_modules/bulma/sass/layout/_all"

// importの後だとこれで直接変えないとダメな模様
// .navbar
//   &.is-link
//     background-color: $purple

.section
  padding: 1.5rem


/*沿革・実績*/
.main_title
  text-align: center
  margin: 32px 0px

.history_container
  width: 1100px
  display: flex
  margin: 0 auto

.year
  margin-right: 32px
  padding:8px 24px
  font-size:18px
  color:#fff
  background-color:#004C71
  border-radius:25px

.yearlist in2019
    width: calc(100% - 8.5em)
    padding: 0.5em 2.0em 3.0em
    border-left: 2px solid #004C71

ul.yearlist
  margin-top: 16px
  margin-bottom: 64px
  padding: 0px

.text
  display: inline-flex

.year-boder
   border-left: 3px solid #004C71
   padding-left: 40px
   margin-left:48px
li
  list-style: none

.month
  font-weight: bold
  padding: 0px 25px
  text-align: center
  margin-right: 16px

.month_ep
  font-weight: bold
  padding: 0px 25px
  text-align: center
  margin-right: 24px

.yearlist_list
  margin-bottom: 64px

.yearlist_list_list_list
  padding-bottom: 16px

  /*事業実績*/
.achievement_container
  min-width: max-content
  background-color: #eaeaea
  text-align: center
  padding-bottom: 32px

.achievement_list_container
  display: inline-block

.achievement_img
  width: 360px

.achievement_list
  display: inline-block
  vertical-align: top
  margin-top: 56px
  margin-right: 16px
  width: 360px

.title
  font-weight: bold
  font-size: 18px
  width: 100%

a
  text-decoration: none

.btn.more_btn
  display: block
  color: #fff
  width: 282px
  height: 66px
  background-color: #333333
  border: none
  margin: 0 auto
  margin-top: 32px

.level-icon
  background-color: #595959
  width: 115px
  text-align: center
  color: #fff
  font-size: 0.9em

/*sp*/
@media screen and (max-width: 480px)

  .history_container
    width: 98%
    font-size: 14px
    line-height: 24px

  figcaption.history_list
    margin-left: 8px

  .year
    padding: 4px 8px
    font-size: 14px
    font-weight: bold
  .year-boder
    margin-left: 28px
  ul.yearlist
    margin-top: 0px
    padding-left: 8px
    margin-bottom:48px

  .yearlist_list
    margin-bottom: 24px

  .yearlist_list_list
    margin-bottom: 0px

  .yearlist_list_list_list
      padding-bottom: 4px

  .earlyperiod
    font-size: 10px
    padding: 4px 10px
    border-radius: 13px
    margin-right: 8px

  .month
    font-weight: bold
    font-size: 14px
    padding: 0px 10px
    margin-right: 8px

  .month_ep
    font-weight: bold
    font-size: 14px
    padding: 0px 10px
    margin-right: 16px

  .achievement_container
    height: 100%
    min-width: min-content

  .achievement_list
    margin-right: 0px
    width: 100%
  .text
    display: inline-flex
    width: 75%
