@charset "utf-8";

// ここなら変わる
// $blue: #ff0000;
// $link: #ff0000;

.level-icon {
	background-color: #595959;
	width: 120px;
	text-align: center;
	color: #fff;
	font-size: 0.9em;
}

@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/grid/columns";
@import "../node_modules/bulma/sass/elements/content";
@import "../node_modules/bulma/sass/elements/table";
@import "../node_modules/bulma/sass/elements/title";
@import "../node_modules/bulma/sass/elements/button";
@import "../node_modules/bulma/sass/elements/container";
@import "../node_modules/bulma/sass/components/level";
@import "../node_modules/bulma/sass/components/card";
@import "../node_modules/bulma/sass/components/navbar";
@import "../node_modules/bulma/sass/components/message";
@import "../node_modules/bulma/sass/layout/_all";

// @import "bulma/bulma";

// この後だとこうしないと変わらない
// .navbar {
// 	&.is-link {
// 		background-color: $red;
// 	}
// }

// .navbar.is-link {
// 	background-color: $red;
// }
