<!DOCTYPE html>
<html lang="ja">
    <head>
        {{>head title="実績 | 株式会社東雲火山"}}
    </head>

    <body class="has-navbar-fixed-top">
        {{>header subtitle="事業実績"}}
        <main class="container">
            <section class="section">
                <div class="columns is-multiline is-desktop">
                    <div class="column is-one-third is-narrow">
                        <div class="box" style="padding: 6%;">
                            <h3 class="has-text-centered is-size-5"><strong>「神椿市建設中。」内サーバ開発</strong></h3>
                            <figure class="image">
                                <img style="width:100rem; height:15rem;" src="files/images/kamitsubaki1.jpg" alt="「神椿市建設中。」"><br>
                            </figure>
                            <img src="files/images/server.png" alt="server">
                            <h4>2019年〜2021年</h4>
                            <p>
                                サーバ開発とサーバ運用を担当しました。1000人を超えるユーザーが同時にアクセスして謎を解いていく体験をストレスなく提供するため、サーバレスという技術を活用しました。
                            </p>  
                        </div>
                    </div>
                    <div class="column is-one-third is-narrow">
                        <div class="box" style="padding: 6%;">
                            <h3 class="has-text-centered is-size-5"><strong>「神椿市建設中。」内ゲーム開発</strong></h3>
                            <figure class="image">
                                <video style="width:100rem; height:15rem;" controls autoplay loop><source src="files/images/akashic-movie.mp4"></video><br>
                            </figure>
                            <img src="files/images/game.png" alt="game">
                            <h4>2019年〜2021年</h4>
                            <p>
                                ベトナムの開発部隊とAkashicというゲームエンジンを活用した低予算のマルチプレーのゲームを開発し、「神椿市建設中。」に提供しました。
                            </p>
                        </div>
                    </div>
                    <div class="column is-one-third is is-narrow">
                        <div class="box" style="padding: 6%;">
                            <h3 class="has-text-centered is-size-5"><strong>「神椿市建設中。」内GPS謎解きシステム</strong></h3>
                            <figure class="image">
                                <img style="width:100rem; height:15rem;" src="files/images/kamitsubaki2.jpg" alt="「神椿市建設中。」"><br>
                            </figure>
                            <img src="files/images/system.png" alt="system">
                            <h4>2019年〜2021年</h4>
                            <p>
                                自社商品Geo Magicを活用し、「神椿市建設中。」でのGPSを利用した謎解きシステムを提供しました。
                            </p>
                        </div>
                    </div>
                    <div class="column is-one-third is-narrow">
                        <div class="box" style="padding: 6%;">
                            <h3 class="has-text-centered is-size-5"><strong>ハイパーカジュアルゲームの開発</strong></h3>
                            <figure class="image">
                                <img style="width:100rem; height:15rem;" src="files/images/HCG.jpg" alt="ハイパーカジュアルゲームの開発"><br>
                            </figure>
                            <img src="files/images/game.png" alt="game">
                            <h4>2019年～ 進行中</h4>
                            <p>
                                スマートフォン向けカジュアルゲームを開発。ベトナムの開発部隊のコストメリットを生かして、受託から自社開発、他社との共同開発まで幅広く対応しています。
                                画像は自社、共同のみ掲載していますが、制作したゲーム本数は 30 以上に上ります。
                            </p>
                        </div>
                    </div>
                    <div class="column is-one-third is-narrow">
                        <div class="box" style="padding: 6%;">
                            <h3 class="has-text-centered is-size-5"><strong>その他実績</strong></h3>
                            <figure class="image">
                                <img style="width:100rem; height:15rem;" src="files/images/logo.JPG" alt="その他実績"><br>
                            </figure>
                            <img src="files/images/other.png" alt="other">
                            <p>
                                著名なスマートフォンゲームのサーバサイド開発、チーム育成
                            </p>
                            <ul>
                                <li>・自社商品Geo Magicの開発・運営と、その知識を生かした位置情報系技術コンサルティング</li>
                                <li>・VR系R&Dプロダクトの開発進行</li>
                                <li>・JavaScriptのゲームエンジンを利用した多人数ゲームの企画・開発、並びに技術補佐</li>
                                <li>・ものづくり補助金事業として、リモートコミュニケーションVSCSの開発、ブランディング</li>
                            </ul>
                        </div>
                    </div>   
                </div> <!-- /.columns-->
            </section>
        </main>
        {{>footer}}
    </body>
</html>