<!DOCTYPE html>
<html lang="ja">
	<head>
		{{>head title="実績 | 株式会社東雲火山"}}
	</head>

	<body class="has-navbar-fixed-top">
		{{>header subtitle="事業実績"}}
		<main class="container">
			<section class="section">
				<div class="columns is-multiline is-tablet">
					<header>
						<h2 class="subtitle is-2">業務委託</h2>
					</header>
				</div>

				<div class="columns is-multiline is-tablet">
					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2025年02月～】</b></p>
								</div>
								<div class="level-right"><div class="level-icon">Game</div></div>
							</h3>
							<figure class="image is-4by3">
								<a href="https://realdgame.jp/s/kotobapoipoi/"
									><img src="files/images/kotoba202502.webp" alt="コトバポイポイ"
								/></a>
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p>
									<b>
										<a href="https://realdgame.jp/s/kotobapoipoi/">
										コトバポイポイ
										</a>
										</b>
								</p>

								<p><b>オンラインリアル脱出ゲーム</b></p>
							</h3>
							<p>　</p>
							<p>
								新感覚のリアル脱出ゲーム「コトバポイポイ」ひらめきで解き明かすことば遊びパズルです。東雲火山はWeb開発とAkashic Engineを用いたゲームシステムの開発を行いました。リリース後はサーバー運用を担っております。
							</p>
						</div>
					</div>

					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2024年8月23日/24日/25日】</b></p>
								</div>
								<div class="level-right"><div class="level-icon">Server</div></div>
							</h3>
							<figure class="image is-4by3">
								<a href="https://realdgame.jp/s/2024realdfes/index.html"
									><img src="files/images/realdfes2024.webp" alt="リアル脱出ゲームフェスティバル"
								/></a>
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p>
									<b
										><a href="https://realdgame.jp/s/2024realdfes/index.html"
											>リアル脱出ゲームフェスティバル</a
										></b
									>
								</p>

								<p><b>（リアル脱出ゲームフェス）</b></p>
							</h3>
							<p>
								幕張メッセで2024年8月23日(金)、24日(土)、25日（日）の3日間限定で行われたリアル脱出ゲーム。
								東雲火山では「<a href="https://realdgame.jp/s/2024realdfes/contents/speedstar.html"
									>謎解きスピードスターグランプリ</a
								>」「<a href="https://realdgame.jp/s/2024realdfes/contents/machiaruki.html"
									>幕張謎解き街歩き</a
								>」,「<a href="https://realdgame.jp/s/2024realdfes/contents/deathnote.html"
									>新生キラの謀略からの脱出</a
								>」「<a href="https://realdgame.jp/s/2024realdfes/contents/jikkyo.html"
									>オンラインリアル脱出ゲーム実況パーティIN幕張</a
								>」の4つのコンテンツの開発に携わりました。当日もシステムの
								監視業務を行い、無事イベントを終えることができました。
							</p>
						</div>
					</div>

					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2024年4月〜7月】</b></p>
								</div>
								<div class="level-right"><div class="level-icon">Design</div></div>
							</h3>
							<figure class="image is-4by3">
								<img src="files/images/marue_chirashi.webp" alt="マルエーチラシ" />
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p>
									<b>Canvaを使用した<br />チラシデザイン </b>
								</p>
							</h3>
							<p>　</p>
							<p>
								<a href="https://maru-a.co.jp/">明治の宅配マルエー様</a
								>のチラシをCanvaを用いてデザインしました。自社サーバー内に点在していたファイルを<a
									href="https://www.canva.com/ja_jp/"
									>Canva</a
								>で一元管理出来た事と、
								軽微な変更はクライアント側で実行出来た事で利便性が向上されました。
							</p>
						</div>
					</div>

					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2023年12月～ 】</b></p>
								</div>
								<div class="level-right"><div class="level-icon">Game</div></div>
							</h3>
							<figure class="image is-4by3">
								<a href="https://realdgame.jp/timetravel7/special/"
									><img
										src="files/images/timetravel7.webp"
										alt="リアル脱出ゲーム×朗読劇 時間旅行とワつの謎"
								/></a>
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>オンラインリアル脱出ゲーム</b></p>
								<p>
									<b
										><a href="https://realdgame.jp/timetravel7/special/"
											>リアル脱出ゲーム×朗読劇<br />時間旅行とワつの謎
										</a></b
									>
								</p>
							</h3>
							<p>
								6人組のゲーム実況グループ「ワイテルズ」が2023年2月にリリースしたオンライン脱出ゲーム
								「時間旅行と7つの謎」とコラボ！「ワイテルズ」らしさを取り入れながら、ストーリーも変更され、
								ファンにも、「時間旅行と7つの謎」をクリアした人にも楽しめる内容に変更されています。
								東雲火山はシステム一式の開発並びに運用を担当しています。
							</p>
						</div>
					</div>

					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2023年8月 】</b></p>
								</div>
								<div class="level-right"><div class="level-icon">Server</div></div>
							</h3>
							<figure class="image is-4by3">
								<a href="https://realdgame.jp/natsumatsuri/"
									><img src="files/images/natsu-2023.webp" alt="終わらない夏祭りからの脱出"
								/></a>
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>リアル脱出ゲーム</b></p>
								<p>
									<b><a href="https://realdgame.jp/natsumatsuri/">終わらない夏祭りからの脱出</a></b>
								</p>
							</h3>
							<p>
								累計参加者1000万人突破を記念して幕張メッセで2023年8月26日(土)、27日(日)の2日間限定で行われたリアル脱出ゲーム。
								現地と連動した謎解きゲームシステムの開発を行い、4000人規模のユーザが一斉に謎を解き始めるというイベントでしたが、負荷による問題も起きず、運用費用も抑えたシステム提供ができました。
							</p>
						</div>
					</div>

					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item">
										<b>【 2023年6月～ 】</b>
									</p>
								</div>
								<div class="level-right">
									<div class="level-icon">Game</div>
								</div>
							</h3>
							<figure class="image is-4by3">
								<a href="https://www.tekutekulife.com/"
									><img src="files/images/tekutekulife.webp" alt="テクテクライフ"
								/></a>
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>スマートフォン用の位置情報アプリ</b></p>
								<p>
									<b><a href="https://www.tekutekulife.com/">テクテクライフ</a></b>
								</p>
							</h3>
							<p>
								業界人気も高く根強いファンを持つ「テクテクライフ」を2023年6月から、テクテクライフ株式会社と共同運用を開始しました。
								開発、デザイン、データ分析や作成等、幅広い業務を担当しています。
								映画や自治体などとのコラボレーションも多く、イベントの開発業務も担当しております。
							</p>
						</div>
					</div>

					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2023年6月～ 】</b></p>
								</div>
								<div class="level-right"><div class="level-icon">Game</div></div>
							</h3>
							<figure class="image is-4by3">
								<a href="https://realdgame.jp/puzzle-castle/"
									><img src="files/images/puzzle.webp" alt="パズルキャッスルからの脱出"
								/></a>
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>オンラインリアル脱出ゲーム</b></p>
								<p>
									<b
										><a href="https://realdgame.jp/puzzle-castle/"
											>大迷宮パズルキャッスルからの脱出</a
										></b
									>
								</p>
							</h3>
							<p>　</p>
							<p>
								リアル脱出ゲームのSCRAP様から新たなリアル脱出ゲーム解禁！”いつでも”遊べるゲームの最新作。
								ゲーム専用ページのデザイン、Web開発、<a href="https://akashic-games.github.io/"
									>Akashic Engine</a
								>を用いたマルチプレイに対応したゲーム開発を行いました。
								リリース後はサーバー運用を担っております。
							</p>
						</div>
					</div>

					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2023年2月～ 】</b></p>
								</div>
								<div class="level-right"><div class="level-icon">Game</div></div>
							</h3>
							<figure class="image is-4by3">
								<a href="https://realdgame.jp/timetravel7/"
									><img src="files/images/jikanryokou.webp" alt="時間旅行と７つの謎"
								/></a>
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>オンラインリアル脱出ゲーム</b></p>
								<p>
									<b
										><a href="https://realdgame.jp/timetravel7/"
											>リアル脱出ゲーム×朗読劇<br />時間旅行と7つの謎</a
										></b
									>
								</p>
							</h3>
							<p>
								謎解きといえばのSCRAP様がふしぎバスターズと同じく”いつでも”WEBで遊べる謎解きとして作成したリアル脱出ゲーム。主人公たちの声優はなんとプレイするあなた。
								デバック作業も頭を使いながら楽しく行わせていただきました。
								東雲火山はゲームWEBサイト制作、Web開発、ゲーム開発、一部デザインを行いました。リリース後もサーバー運用を担っております。
							</p>
						</div>
					</div>

					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2023年2月 】</b></p>
								</div>
								<div class="level-right"><div class="level-icon">Character</div></div>
							</h3>
							<figure class="image is-4by3">
								<a href="https://github.com/akashic-contents/liliea-act1"
									><img src="files/images/riria.webp" alt="リリアと魔女"
								/></a>
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>ニコ生自作ゲーム</b></p>
								<p>
									<b
										><a href="https://github.com/akashic-contents/liliea-act1"
											>「リリアと魔女 [LILIEA] 」</a
										></b
									>
								</p>
								<p><b>内のキャラクター</b></p>
							</h3>
							<p>
								ニコニコ生放送中に遊べるリリアと魔女[LILIEA]のキャラクター、犬のリリアは弊社のデザイナーの作品です。
								リリア以外にも<a href="https://akashic-games.github.io/">Akashic Engine</a
								>でお使いいただける素材を
								<a href="https://github.com/shinonomekazan/akashic-assets">akashic-asset</a
								>ではご用意しておりますので、是非ご活用ください。
							</p>
						</div>
					</div>

					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2022年12月～ 】</b></p>
								</div>
								<div class="level-right"><div class="level-icon">Game</div></div>
							</h3>
							<figure class="image is-4by3">
								<a href="https://www.scrapmagazine.com/s/arienai-sagashi/"
									><img src="files/images/fushigi.webp" alt="ふしぎバスターズ"
								/></a>
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>オンラインリアル脱出ゲーム</b></p>
								<p>
									<b
										><a href="https://www.scrapmagazine.com/s/arienai-sagashi/"
											>アリエナイ探しゲーム<br />ふしぎバスターズ学校編</a
										></b
									>
								</p>
							</h3>
							<p>
								リアル脱出ゲームのSCRAP様が生み出した新感覚ゲーム。今まで生放送でしていた謎解きゲームを”いつでも”遊べるゲームとして制作いたしました。
								ゲーム専用ページのデザイン、Web開発、ゲーム開発を行いました。ランキングシステムなども構築。リリース後もサーバー運用を担っております。
							</p>
						</div>
					</div>

					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2022年11月～ 】</b></p>
								</div>
								<div class="level-right"><div class="level-icon">Web</div></div>
							</h3>
							<figure class="image is-4by3">
								<img src="files/images/web.webp" alt="webシステム保守運用業務" />
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>Webシステムの保守運用業務</b></p>
								<p>　</p>
							</h3>
							<p>
								ECサイトや金融系サイトの運用業務を受託しております。具体的な業務内容はFAQ原稿・画像差し替え、LPコーディング等です。
								費用例はLPコーディングで4.5~5万円程度。H4300px程度(adobe
								XDで授受)。HTML/CSS/JSコーディング。レスポンシブ対応。
							</p>
						</div>
					</div>

					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2022年5月～ 】</b></p>
								</div>
								<div class="level-right">
									<div class="level-icon">Backoffice</div>
								</div>
							</h3>
							<figure class="image is-4by3">
								<img src="files/images/backoffice.webp" alt="バックオフィスサポート業務" />
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>バックオフィスサポート業務</b></p>
								<p>　</p>
							</h3>
							<p>
								東雲火山の経理担当者が実際に経理業務を担わせていただくことで、改善点などを見出し、プログラミングなどの技術を用いて、効率化を行いました。
								現在2社からお任せいただき、<a href="https://coeo.co.jp/">株式会社COEO様</a
								>ではfreeeと言う会計ソフトを使用し、
								株式会社アストエイト様は自社でお使いの会計ソフトを用いたりと様々な会計ソフトに対応しております。
							</p>
						</div>
					</div>

					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2022年1月 】</b></p>
								</div>
								<div class="level-right"><div class="level-icon">Server</div></div>
							</h3>
							<figure class="image is-4by3">
								<a href="https://realdgame.jp/100mannazo2022/"
									><img src="files/images/100man2022.webp" alt="100万謎2022"
								/></a>
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p>
									<b><a href="https://realdgame.jp/100mannazo2022/">SCRAPからの挑戦状2022</a></b>
								</p>
								<p><b>（通称【100万謎2022】）</b></p>
							</h3>
							<p>
								WEBデザインも含めて担当させて頂きました。人員体制の拡大に伴い、一部のイラスト制作も行いました。
							</p>
						</div>
					</div>

					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2021年9月 】</b></p>
								</div>
								<div class="level-right"><div class="level-icon">Server</div></div>
							</h3>
							<figure class="image is-4by3">
								<a href="https://realdgame.jp/online_reald_summerfes/nazobr.html"
									><img src="files/images/doragon.webp" alt="難攻不落のドラゴンからの脱出"
								/></a>
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>オンラインリアル脱出ゲーム</b></p>
								<p>
									<b
										><a href="https://realdgame.jp/online_reald_summerfes/nazobr.html"
											>難攻不落のドラゴンからの脱出</a
										></b
									>
								</p>
							</h3>
							<p>
								「終わらない公開捜査からの脱出」のシステムを発展させる形でシステム一式を担当。本作ではリアルタイムのランキング機構を導入・運用しました。
							</p>
						</div>
					</div>

					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2021年1月 】</b></p>
								</div>
								<div class="level-right"><div class="level-icon">Server</div></div>
							</h3>
							<figure class="image is-4by3">
								<a href="https://realdgame.jp/online_reald_bigparty/contents-10000realdgame.html"
									><img src="files/images/owaranai.webp" alt="終わらない公開捜査からの脱出"
								/></a>
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>オンラインリアル脱出ゲーム</b></p>
								<p>
									<b
										><a
											href="https://realdgame.jp/online_reald_bigparty/contents-10000realdgame.html"
											>終わらない公開捜査からの脱出</a
										></b
									>
								</p>
							</h3>
							<p>
								株式会社SCRAP様の謎解きシステムのWeb含めシステム一式を担当しました。１万人以上の同時接続ユーザのアクセスを捌きつつ、サーバ費を安価に抑えました。
							</p>
						</div>
					</div>

					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2019年〜2021年 】</b></p>
								</div>
								<div class="level-right"><div class="level-icon">Server</div></div>
							</h3>
							<figure class="image is-4by3">
								<img src="files/images/kamitsubaki1.webp" alt="「神椿市建設中。」内サーバ開発" />
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>「神椿市建設中。」内サーバ開発</b></p>
								<p>　</p>
							</h3>
							<p>
								サーバ開発とサーバ運用を担当しました。1000人を超えるユーザが同時にアクセスして謎を解いていく体験をストレスなく提供するため、サーバレスという技術を活用しました。
							</p>
						</div>
					</div>

					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2019年〜2021年 】</b></p>
								</div>
								<div class="level-right"><div class="level-icon">Game</div></div>
							</h3>
							<figure class="image has-text-centered">
								<video controls autoplay loop style="width: 71%; height: auto">
									<source src="files/images/akashic-movie.mp4" />
								</video>
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>「神椿市建設中。」内ゲーム開発</b></p>
								<p>　</p>
							</h3>
							<p>
								ベトナムの開発部隊とAkashicというゲームエンジンを活用した低予算のマルチプレーのゲームを開発し、「神椿市建設中。」に提供しました。
							</p>
						</div>
					</div>
					
					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2019年〜2021年 】</b></p>
								</div>
								<div class="level-right"><div class="level-icon">System</div></div>
							</h3>
							<figure class="image is-4by3">
								<img
									src="files/images/kamitsubaki2.webp"
									alt="「神椿市建設中。」内GPS謎解きシステム"
								/>
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p>
									<b>「神椿市建設中。」内<br />GPS謎解きシステム</b>
								</p>
							</h3>
							<p>
								自社商品GeoMagicを活用し、「神椿市建設中。」でのGPSを利用した謎解きシステムを提供しました。
							</p>
						</div>
					</div>
				</div>
				<div class="columns is-multiline is-tablet">
					<header>
						<h2 class="subtitle is-3">自社商品</h2>
					</header>
				</div>
				<div class="columns is-multiline is-tablet">
					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2022年2月 】</b></p>
								</div>
								<div class="level-right"><div class="level-icon">3D Avatar</div></div>
							</h3>
							<figure class="image is-4by3">
								<a
									href="https://hub.vroid.com/en/characters/3866446626640350400/models/1797481855026369122"
									><img src="files/images/avatar.webp" alt="3Dアバター制作（ハイポリ）"
								/></a>
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p>
									<a
										href="https://hub.vroid.com/en/characters/3866446626640350400/models/1797481855026369122"
										><b>3D アバター制作（ハイポリ）</b></a
									>
								</p>
							</h3>
							<p>
								クライアントのイメージやキーワードを元に、ハイポリのVRアバターを制作。 VTuberとして<a
									href="https://3d.kalidoface.com/"
									>Kalidoface 3D</a
								>と
								<a href="https://obsproject.com/ja">OBS Studio</a
								>を使用して録画／編集した映像をYouTubeやZoomで配信することを想定しました。
							</p>
						</div>
					</div>
					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2021年7月 】</b></p>
								</div>
								<div class="level-right"><div class="level-icon">3D Avatar</div></div>
							</h3>
							<figure class="image is-4by3">
								<a href="https://vscs.shinonomekazan.com/model/"
									><img src="files/images/metone.webp" alt="3Dアバター制作（ローポリ）"
								/></a>
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p>
									<a href="https://vscs.shinonomekazan.com/model/"
										><b>3D アバター制作（ローポリ）</b></a
									>
								</p>
							</h3>
							<p>弊社のVSCSプロジェクトのために、ローポリのVRアバターを制作しました。</p>
						</div>
					</div>
					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2019年～ 進行中 】</b></p>
								</div>
								<div class="level-right"><div class="level-icon">Game</div></div>
							</h3>
							<figure class="image is-4by3">
								<img src="files/images/HCG.webp" alt="ハイパーカジュアルゲームの開発" />
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>ハイパーカジュアルゲームの開発</b></p>
							</h3>
							<p>
								スマートフォン向けカジュアルゲームを開発。ベトナムの開発部隊のコストメリットを生かして、受託から自社開発、他社との共同開発まで幅広く対応しています。
								画像は自社、共同のみ掲載していますが、制作したゲーム本数は 30 以上に上ります。
							</p>
						</div>
					</div>
				</div>
				<div class="columns is-multiline is-tablet">
					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2019年～ 進行中 】</b></p>
								</div>
								<div class="level-right"><div class="level-icon">Other</div></div>
							</h3>
							<figure class="image is-4by3">
								<img src="files/images/logo.webp" alt="その他実績" />
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>その他実績</b></p>
							</h3>
							<div class="content">
								<ul>
									<li>著名なスマートフォンゲームのサーバサイド開発、チーム育成</li>
									<li>
										自社商品Geo
										Magicの開発・運営と、その知識を生かした位置情報系技術コンサルティング
									</li>
									<li>VR系R&Dプロダクトの開発進行</li>
									<li>
										JavaScriptのゲームエンジンを利用した多人数ゲームの企画・開発、並びに技術補佐
									</li>
									<li>
										ものづくり補助金事業として、リモートコミュニケーションVSCSの開発、ブランディング
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- /.columns-->
			</section>
		</main>
		{{>footer}}
	</body>
</html>
