<!DOCTYPE html>
<html lang="ja">
	<head>
		{{>head title="実績 | 株式会社東雲火山"}}
	</head>

	<body class="has-navbar-fixed-top">
		{{>header subtitle="事業実績"}}
		<main class="container">
			<section class="section">
				<div class="columns is-multiline is-tablet">
					<header>
						<h2 class="subtitle is-2">業務委託</h2>
					</header>
				</div>
				<div class="columns is-multiline is-tablet">
					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2022年1月 】</b></p>
								</div>
								<div class="level-right"><img src="files/images/server.png" alt="server" /></div>
							</h3>
							<figure class="image is-4by3">
								<img src="files/images/100man2022.jpg" alt="「100万謎2022」" />
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p>
									<b><a href="https://realdgame.jp/100mannazo2022/">「SCRAPからの挑戦状2022」</a></b>
								</p>
								<p><b>（通称【100万謎2022】）</b></p>
								<p>　</p>
							</h3>
							<p>
								WEBデザインも含めて担当させて頂きました。人員体制の拡大に伴い、一部のイラスト制作も行いました。
							</p>
						</div>
					</div>
					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2021年9月 】</b></p>
								</div>
								<div class="level-right"><img src="files/images/server.png" alt="server" /></div>
							</h3>
							<figure class="image is-4by3">
								<img src="files/images/doragon.jpg" alt="「難攻不落のドラゴンからの脱出」" />
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>オンラインリアル脱出ゲーム</b></p>
								<p>
									<b
										><a href="https://realdgame.jp/online_reald_summerfes/nazobr.html"
											>「難攻不落のドラゴンからの脱出」</a
										></b
									>
								</p>
								<p>　</p>
							</h3>
							<p>
								「終わらない公開捜査からの脱出」のシステムを発展させる形でシステム一式を担当。本作ではリアルタイムのランキング機構を導入・運用しました。
							</p>
						</div>
					</div>
					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2021年7月 】</b></p>
								</div>
								<div class="level-right"><img src="files/images/server.png" alt="server" /></div>
							</h3>
							<figure class="image is-4by3">
								<img src="files/images/owaranai-kioku.jpg" alt="「記憶喪失スペシャル」" />
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>オンラインリアル脱出ゲーム</b></p>
								<p>
									<b
										><a
											href="https://realdgame.jp/online_reald_summerfes/contents-investigation.html"
											>「終わらない公開捜査からの脱出<br />記憶喪失スペシャル」</a
										></b
									>
								</p>
							</h3>
							<p>
								前作に続きシステム一式を担当。STEP3に出てくる脱出ゲームをAkashicEngineを用いて制作するなど、ゲーム部分も担当しました。
							</p>
						</div>
					</div>
				</div>
				<div class="columns is-multiline is-tablet">
					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2021年1月 】</b></p>
								</div>
								<div class="level-right"><img src="files/images/server.png" alt="server" /></div>
							</h3>
							<figure class="image is-4by3">
								<img src="files/images/owaranai.jpg" alt="「終わらない公開捜査からの脱出」" />
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>オンラインリアル脱出ゲーム</b></p>
								<p>
									<b
										><a
											href="https://realdgame.jp/online_reald_bigparty/contents-10000realdgame.html"
											>「終わらない公開捜査からの脱出」</a
										></b
									>
								</p>
							</h3>
							<p>
								株式会社SCRAP様の謎解きシステムのWeb含めシステム一式を担当しました。１万人以上の同時接続ユーザのアクセスを捌きつつ、サーバ費を安価に抑えました。
							</p>
						</div>
					</div>
					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2019年〜2021年 】</b></p>
								</div>
								<div class="level-right"><img src="files/images/server.png" alt="server" /></div>
							</h3>
							<figure class="image is-4by3">
								<img src="files/images/kamitsubaki1.jpg" alt="「神椿市建設中。」内サーバ開発" />
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>「神椿市建設中。」内サーバ開発</b></p>
								<p>　</p>
							</h3>
							<p>
								サーバ開発とサーバ運用を担当しました。1000人を超えるユーザーが同時にアクセスして謎を解いていく体験をストレスなく提供するため、サーバレスという技術を活用しました。
							</p>
						</div>
					</div>
					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2019年〜2021年 】</b></p>
								</div>
								<div class="level-right"><img src="files/images/game.png" alt="game" /></div>
							</h3>
							<figure class="image has-text-centered">
								<video controls autoplay loop style="width: 75%; height: auto">
									<source src="files/images/akashic-movie.mp4" />
								</video>
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>「神椿市建設中。」内ゲーム開発</b></p>
								<p>　</p>
							</h3>
							<p>
								ベトナムの開発部隊とAkashicというゲームエンジンを活用した低予算のマルチプレーのゲームを開発し、「神椿市建設中。」に提供しました。
							</p>
						</div>
					</div>
				</div>
				<div class="columns is-multiline is-tablet">
					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2019年〜2021年 】</b></p>
								</div>
								<div class="level-right"><img src="files/images/system.png" alt="system" /></div>
							</h3>
							<figure class="image is-4by3">
								<img src="files/images/kamitsubaki2.jpg" alt="「神椿市建設中。」内GPS謎解きシステム" />
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p>
									<b>「神椿市建設中。」内<br />GPS謎解きシステム</b>
								</p>
							</h3>
							<p>
								自社商品GeoMagicを活用し、「神椿市建設中。」でのGPSを利用した謎解きシステムを提供しました。
							</p>
						</div>
					</div>
				</div>
				<div class="columns is-multiline is-tablet">
					<header>
						<h2 class="subtitle is-3">自社商品</h2>
					</header>
				</div>
				<div class="columns is-multiline is-tablet">
					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2022年2月 】</b></p>
								</div>
								<div class="level-right"><img src="files/images/avatar-1.png" alt="avatar" /></div>
							</h3>
							<figure class="image is-4by3">
								<img src="files/images/avatar.png" alt="3Dアバター制作（ハイポリ）" />
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p>
									<a
										href="https://hub.vroid.com/en/characters/3866446626640350400/models/1797481855026369122"
										><b>3D アバター制作（ハイポリ）</b></a
									>
								</p>
							</h3>
							<p>
								クライアントのイメージやキーワードを元に、ハイポリのVRアバターを制作。 VTuberとして<a
									href="https://3d.kalidoface.com/"
									>Kalidoface 3D</a
								>と<a href="https://obsproject.com/ja">OBS Studio</a
								>を使用して録画／編集した映像をYouTubeやZoomで配信することを想定しました。
							</p>
						</div>
					</div>
					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2021年7月 】</b></p>
								</div>
								<div class="level-right"><img src="files/images/avatar-1.png" alt="avatar" /></div>
							</h3>
							<figure class="image is-4by3">
								<img src="files/images/metone.png" alt="3Dアバター制作（ローポリ）" />
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p>
									<a href="https://vscs.shinonomekazan.com/model/"
										><b>3D アバター制作（ローポリ）</b></a
									>
								</p>
							</h3>
							<p>弊社のVSCSプロジェクトのために、ローポリのVRアバターを制作しました。</p>
						</div>
					</div>
					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2019年～ 進行中 】</b></p>
								</div>
								<div class="level-right"><img src="files/images/game.png" alt="game" /></div>
							</h3>
							<figure class="image is-4by3">
								<img src="files/images/HCG.jpg" alt="ハイパーカジュアルゲームの開発" />
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>ハイパーカジュアルゲームの開発</b></p>
							</h3>
							<p>
								スマートフォン向けカジュアルゲームを開発。ベトナムの開発部隊のコストメリットを生かして、受託から自社開発、他社との共同開発まで幅広く対応しています。
								画像は自社、共同のみ掲載していますが、制作したゲーム本数は 30 以上に上ります。
							</p>
						</div>
					</div>
				</div>
				<div class="columns is-multiline is-tablet">
					<div class="column is-4 is-narrow">
						<div class="box" style="padding: 6%">
							<h3 class="level">
								<div class="level-left">
									<p class="level-item"><b>【 2019年～ 進行中 】</b></p>
								</div>
								<div class="level-right"><img src="files/images/other.png" alt="other" /></div>
							</h3>
							<figure class="image is-4by3">
								<img src="files/images/logo.JPG" alt="その他実績" />
							</figure>
							<h3 class="has-text-centered is-size-5">
								<p><b>その他実績</b></p>
							</h3>
							<div class="content">
								<ul>
									<li>著名なスマートフォンゲームのサーバサイド開発、チーム育成</li>
									<li>
										自社商品Geo
										Magicの開発・運営と、その知識を生かした位置情報系技術コンサルティング
									</li>
									<li>VR系R&Dプロダクトの開発進行</li>
									<li>
										JavaScriptのゲームエンジンを利用した多人数ゲームの企画・開発、並びに技術補佐
									</li>
									<li>
										ものづくり補助金事業として、リモートコミュニケーションVSCSの開発、ブランディング
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- /.columns-->
			</section>
		</main>
		{{>footer}}
	</body>
</html>
