<!DOCTYPE html>
<html lang="ja">

<head>
	{{>head title="公告等 | 株式会社東雲火山"}}
</head>

<body class="has-navbar-fixed-top">
	{{>header subtitle="公告等"}}
	<main class="container">
		<section id="announcement">
			<section id="announcement_policy">
				<h2 class="subtitle is-3">情報公開方針</h2>
				<div class="content">
					<p>東雲火山は、可能な限り公文書をインターネット上に公開する方針としています。</p>
					<p>将来的には、自社サービスの収支明細なども公開していく予定です。</p>
				</div>
			</section>
			<section id="official_document">
				<h2 class="subtitle is-3">公文書</h2>
				<div class="content">
					<ul>
						<li><a href="files/teikan.pdf">定款</a></li>
						<li><a href="files/meibo.pdf">株主名簿</a></li>
						<li>株主総会
							<ul>
								<li><a href="files/soukai/1_20190226.pdf">第1回 - 2019年02月26日開催</a></li>
								<li><a href="files/soukai/2_20190401.pdf">第2回 - 2019年04月01日開催</a></li>
								<li><a href="files/soukai/3_20190411.pdf">第3回 - 2019年04月11日開催</a></li>
							</ul>
						</li>
						<li><a href="javascript:alert('作業中')">事業計画</a></li>
					</ul>
				</div>
			</section>
			<section id="ir">
				<h2 class="subtitle is-3">IR/決算書</h2>
				<div class="content">
					<ul>
						<li>決算報告書
							<ul>
								<li><a href="files/ir/2019_financial_report.pdf">第1期 - 2019年度決算報告書</a></li>
							</ul>
						</li>
						<li>
							<ul>
								<li><a href="files/ir/2019_business_report.pdf">第1期 - 2019年度事業報告書</a>
							</ul>
						</li>
					</ul>
				</div>
			</section>
		</section>
	</main>
	{{>footer}}
</body>

</html>
