<!DOCTYPE html>
<html lang="ja">
	<head>
		{{>head title="公告等 | 株式会社東雲火山"}}
	</head>

	<body class="has-navbar-fixed-top">
		{{>header subtitle="公告等"}}
		<main class="container">
			<section id="announcement">
				<section id="announcement_policy" class="section">
					<h2 class="subtitle is-3">情報公開方針</h2>
					<div class="content">
						<p>東雲火山は、可能な限り多くの情報をインターネット上に公開する方針としています。</p>
						<p>将来的には、自社サービスの収支明細なども公開していく予定です。</p>
					</div>
				</section>
				<section id="official_document" class="section">
					<h2 class="subtitle is-3">会社の文書</h2>
					<div class="content">
						<ul>
							<li>
								<a href="https://github.com/shinonomekazan/documents/blob/main/%E5%AE%9A%E6%AC%BE.md"
									>定款</a
								>
							</li>
							<li>
								<a
									href="https://github.com/shinonomekazan/documents/blob/main/%E6%A0%AA%E4%B8%BB%E5%90%8D%E7%B0%BF.md"
									>株主名簿</a
								>
							</li>
							<li>
								<a
									href="https://github.com/shinonomekazan/documents/tree/main/%E8%AD%B0%E4%BA%8B%E9%8C%B2"
									>株主総会議事録</a
								>
							</li>
						</ul>
					</div>
				</section>
				<section id="ir" class="section">
					<h2 class="subtitle is-3">IR/決算書</h2>
					<div class="content">
						<ul>
							<li>
								決算報告書
								<ul>
									<li><a href="files/ir/2018_financial_report.pdf">第1期 - 初年度決算報告書</a></li>
									<li>
										<a href="files/ir/2019_financial_report.pdf">第2期 - 2019年度決算報告書</a>
									</li>
									<li>
										<a href="files/ir/2020_financial_report.pdf">第3期 - 2020年度決算報告書</a>
									</li>
									<li>
										<a href="files/ir/2021_financial_report.pdf">第4期 - 2021年度決算報告書</a>
									</li>
									<li>
										<a href="files/ir/2022_financial_report.pdf">第5期 - 2022年度決算報告書</a>
									</li>
									<li>
										<a href="files/ir/2023_financial_report.pdf">第6期 - 2023年度決算報告書</a>
									</li>
								</ul>
							</li>
							<li>
								事業報告
								<ul>
									<li><a href="files/ir/2018_business_report.pdf">第1期 - 初年度事業報告書</a></li>
									<li><a href="files/ir/2019_business_report.pdf">第2期 - 2019年度事業報告書</a></li>
									<li><a href="files/ir/2020_business_report.pdf">第3期 - 2020年度事業報告書</a></li>
									<li><a href="files/ir/2021_business_report.pdf">第4期 - 2021年度事業報告書</a></li>
									<li><a href="files/ir/2022_business_report.pdf">第5期 - 2022年度事業報告書</a></li>
									<li>
										<a href="files/ir/2023_business_report.pdf">第6期 - 2023年度事業報告書</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</section>
			</section>
		</main>
		{{>footer}}
	</body>
</html>
