<!DOCTYPE html>
<html lang="ja">

<head>
	{{>head title="公告等 | 株式会社東雲火山"}}
</head>

<body class="has-navbar-fixed-top">
	{{>header subtitle="公告等"}}
	<main class="container">
		<section id="announcement">
			<section id="announcement_policy">
				<h2 class="subtitle is-3">情報公開方針</h2>
				<div class="content">
					<p>東雲火山は、可能な限り公文書をインターネット上に公開する方針としています。</p>
					<p>将来的には、自社サービスの収支明細なども公開していく予定です。</p>
				</div>
			</section>
			<section id="official_document">
				<h2 class="subtitle is-3">公文書</h2>
				<div class="content">
					<ul>
						<li><a href="files/teikan.pdf">定款</a></li>
						<li><a href="files/meibo.pdf">株主名簿</a></li>
						<li><a href="javascript:alert('作業中')">株主総会</a></li>
						<li><a href="javascript:alert('作業中')">事業計画</a></li>
					</ul>
				</div>
			</section>
			<section id="ir">
				<h2 class="subtitle is-3">IR/決算書</h2>
				<div>
					まだありません。
				</div>
			</section>
		</section>
	</main>
	{{>footer}}
</body>

</html>
