<!DOCTYPE html>
<html lang="ja">
	<head>
		{{>head title="沿革 | 株式会社東雲火山"}}
	</head>

	<body class="has-navbar-fixed-top">
		<header>{{>header subtitle="沿革"}}</header>
		<!--事業実績-->
		<main>
			<div class="history_container">
				<ul class="history_list">
					<li class="yearlist_list_list">
						<span class="year">2019年</span>
						<div class="year-boder">
							<div class="yearlist_list_list_list">
								<span class="month_ep"> 2月</span>
								<div class="text">操業開始</div>
							</div>
							<div class="yearlist_list_list_list">
								<span class="month_ep">4月</span>
								<div class="text"><a href="./logo.html">コーポレートロゴが完成</a></div>
							</div>
							<div class="yearlist_list_list_list">
								<span class="month_ep">&ensp;&emsp;</span>
								<div class="text">ゲーム系、Web系、VR系の開発業務を開始、ベトナムとの協業を開始</div>
							</div>
							<div class="yearlist_list_list_list">
								<span class="month_ep">6月</span>
								<div class="text">東京商工会議所に加盟</div>
							</div>
							<div class="yearlist_list_list_list">
								<span class="month">10月</span>
								<div class="text">社員数が2名に増加</div>
							</div>
							<div class="yearlist_list_list_list">
								<span class="month">12月</span>
								<div class="text">位置情報系開発業務、スマートフォン向けゲームの開発業務を開始</div>
							</div>
						</div>
					</li>
					<li class="yearlist_list_list">
						<span class="year">2020年</span>
						<div class="year-boder">
							<div class="yearlist_list_list_list">
								<span class="month_ep"> 1月</span>
								<div class="text">ベトナムとの取引のため仮想通貨を導入</div>
							</div>

							<div class="yearlist_list_list_list">
								<span class="month_ep"> 4月</span>
								<div class="text">事業拡大に伴い、本社を移転</div>
							</div>
							<div class="yearlist_list_list_list">
								<span class="month_ep"> 5月</span>
								<div class="text"><a href="./logo.html">Volcano Games</a>のロゴを追加</div>
							</div>
							<div class="yearlist_list_list_list">
								<span class="month">10月</span>
								<div class="text">ものづくり補助金実施事業を開始</div>
							</div>
							<div class="yearlist_list_list_list">
								<span class="month">&emsp;&emsp;</span>
								<div class="text"><a href="./tech.html">利用技術</a>を追加</div>
							</div>
							<div class="yearlist_list_list_list">
								<span class="month">&emsp;&emsp;</span>
								<div class="text">社員数が4名に増加</div>
							</div>
						</div>
					</li>
					<li class="yearlist_list_list">
						<span class="year">2021年</span>
						<div class="year-boder">
							<div class="yearlist_list_list_list">
								<span class="month_ep"> 1月</span>
								<div class="text">社員数が5名に増加</div>
							</div>

							<div class="yearlist_list_list_list">
								<span class="month_ep"> 4月</span>
								<div class="text">自社製ゲームをリリースし、受託以外の業務を本格化</div>
							</div>
							<div class="yearlist_list_list_list">
								<span class="month_ep"> 5月</span>
								<div class="text">
									<a href="https://shinonomekazan.vn/">ベトナム法人東雲火山ベトナムを設立</a> →<a
										href="https://contents.shinonomekazan.com/shinonomekazan-vietnam.html"
										>ベトナム法人設立に寄せて</a
									>
								</div>
							</div>
							<div class="yearlist_list_list_list">
								<span class="month_ep"> &ensp;&emsp;</span>
								<div class="text">
									<a href="https://members.shinonomekazan.com/">採用活動</a
									>を強化し始め、断片の価値の追求の特設サイトを公開
								</div>
							</div>
							<div class="yearlist_list_list_list">
								<span class="month">10月</span>
								<div class="text">社員数が7名に増加。<br />短時間正社員制度の運用を開始</div>
							</div>
							<div class="yearlist_list_list_list">
								<span class="month">&emsp;&emsp;</span>
								<div class="text">
									<a
										href="https://github.com/shinonomekazan/documents/blob/main/rules/%E5%B0%B1%E6%A5%AD%E8%A6%8F%E5%89%87.md"
										>就業規則</a
									>の届け出を完了
								</div>
							</div>
							<div class="yearlist_list_list_list">
								<span class="month">12月</span>
								<div class="text">
									<a href="https://nazonazo.shinonomekazan.com">謎謎火山</a
									>をオープンし、断片的なサービスのリリースを開始
								</div>
							</div>
							<div class="yearlist_list_list_list">
								<span class="month">&emsp;&emsp;</span>
								<div class="text">社員数が10名に増加</div>
							</div>
						</div>
					</li>
					<li class="yearlist_list_list">
						<span class="year">2022年</span>
						<div class="year-boder">
							<div class="yearlist_list_list_list">
								<span class="month_ep"> 1月</span>
								<div class="text"><a href="./achievement.html">事業実績</a>ページを公開</div>
							</div>

							<div class="yearlist_list_list_list">
								<span class="month_ep"> 2月</span>
								<div class="text">社員数が11名に増加</div>
							</div>
							<div class="yearlist_list_list_list">
								<span class="month_ep">&ensp;&emsp;</span>
								<div class="text">
									<a href="https://www.hatarakumama-pj.com/" target="_blank">【はたママ】さん</a
									>にて、<a
										href="https://www.hatarakumama-pj.com/posts/selection1001/?utm_source=mailmagazine&utm_campaign=211223&utm_medium=email#toc9"
										target="_blank"
										>「子育てしながら働きやすい会社10選・2022」</a
									>に選出される
								</div>
							</div>
							<div class="yearlist_list_list_list">
								<span class="month_ep"> 4月</span>
								<div class="text">理代行等バックオフィスサポート業務を開始</div>
							</div>
							<div class="yearlist_list_list_list">
								<span class="month_ep">&ensp;&emsp;</span>
								<div class="text">資本金を100万円から280万円に増資</div>
							</div>
							<div class="yearlist_list_list_list">
								<span class="month_ep"> 6月</span>
								<div class="text">社員数が15名に増加、経理代行等バックオフィスサポート業務を開始</div>
							</div>
							<div class="yearlist_list_list_list">
								<span class="month_ep">&emsp;&emsp;</span>
								<div class="text">
									<a
										href="https://github.com/shinonomekazan/documents/blob/main/rules/%E7%B5%A6%E4%B8%8E%E5%85%AC%E9%96%8B%E5%88%B6%E5%BA%A6.md"
										>給与公開制度</a
									>の運用を開始
								</div>
							</div>
						</div>
					</li>
					<li class="yearlist_list_list">
						<span class="year">2023年</span>
						<div class="year-boder">
							<div class="yearlist_list_list_list">
								<span class="month_ep"> 1月</span>
								<div class="text">社員数が18名に増加（アルバイト2名含）</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!--事業実績-->
			<h2 class="main_title">事業実績</h2>
			<div class="achievement_container">
				<div class="achievement_list_container">
					<div class="achievement_list">
						<img src="files/images/natsu-2023.png" alt="夏脱出" class="achievement_img" />
						<a href="https://realdgame.jp/natsumatsuri/" class="achievement_list_link">
							<p class="title">リアル脱出ゲーム 終わらない夏祭りからの脱出</p>
						</a>
					</div>
					<div class="achievement_list">
						<img src="files/images/puzzle.png" alt="大迷宮脱出" class="achievement_img" />
						<a href="https://realdgame.jp/puzzle-castle/" class="achievement_list_link">
							<p class="title">オンラインリアル脱出ゲーム 大迷宮パズルキャッスルからの脱出</p>
						</a>
					</div>
					<div class="achievement_list">
						<img src="files/images/sodoart.png" alt="ttm" class="achievement_img" />
						<a href="https://thetokyomatrix.com/" class="achievement_list_link">
							<p class="title">
								新宿ダンジョン攻略体験施設<br />
								「THE TOKYO MATRIX」
							</p>
						</a>
						<a href="https://thetokyomatrix.com/anomaly/" class="achievement_list_link">
							<p class="title">ソードアート・オンライン -アノマリー・クエスト-</p></a
						>
					</div>
				</div>
				<a href="achievement.html"><button class="btn more_btn">実績を見る</button></a>
			</div>
		</main>
		{{>footer}}
	</body>
</html>
