<!DOCTYPE html>
<html lang="ja">
	<head>
		{{>head title="株式会社東雲火山"}}
		<meta
			name="description"
			content="Web、ゲーム系システムの受託・請負開発並びに自社サービス展開を行っている、株式会社東雲火山のホームページです。"
		/>
	</head>

	<body class="has-navbar-fixed-top">
		{{>header subtitle="会社概要"}}
		<main class="container">
			<section id="about">
				<article class="message">
					<div class="content">
						<table class="table">
							<tbody>
								<tr>
									<th>会社名</th>
									<td>株式会社東雲火山</td>
								</tr>
								<tr>
									<th>会社名（ヨミ）</th>
									<td>カブシキガイシャシノノメカザン</td>
								</tr>
								<tr>
									<th>法人番号</th>
									<td>
										<a
											href="https://www.houjin-bangou.nta.go.jp/henkorireki-johoto.html?selHouzinNo=9010001198568"
											>9010001198568</a
										>
									</td>
								</tr>
								<tr>
									<th>所在地</th>
									<td>東京都中央区湊3-9-4相川ビル402</td>
								</tr>
								<tr>
									<th>URL</th>
									<td>https://shinonomekazan.com</td>
								</tr>
								<tr>
									<th>設立</th>
									<td>2019年2月14日</td>
								</tr>
								<tr>
									<th>主な事業</th>
									<td>コンピュータソフトウェアの受託及びコンサルティング、及び企画運営</td>
								</tr>
								<tr>
									<th>資本金</th>
									<td>280万円</td>
								</tr>
								<tr>
									<th>代表取締役</th>
									<td>告原豊和（つげはら とよかず）</td>
								</tr>
								<tr>
									<th>主要取引先（順不同/敬称略）</th>
									<td>
										<ul style="margin-top: 0">
											<li>
												<a href="http://www.starfactory-inc.co.jp/"
													>株式会社スターファクトリー</a
												>
											</li>
											<li><a href="https://www.ashmd.biz/">株式会社アシュマド</a></li>
											<li><a href="http://tvt.jp/">株式会社TVT</a></li>
											<li><a href="https://dwango.co.jp/">株式会社ドワンゴ</a></li>
											<li><a href="https://thinkr.jp/">株式会社THINKR</a></li>
											<li><a href="https://www.kadinche.com/">カディンチェ株式会社</a></li>
											<li><a href="https://www.sony.co.jp/">ソニーグループ株式会社</a></li>
											<li>
												<a href="https://www.scrapmagazine.com/about/company-profile/"
													>株式会社SCRAP</a
												>
											</li>
											<li><a href="https://drecom.co.jp/">株式会社ドリコム</a></li>
											<li><a href="https://coeo.co.jp/">株式会社 COEO</a></li>
										</ul>
									</td>
								</tr>
								<tr>
									<th>加盟団体</th>
									<td>東京商工会議所（会員番号: C2786753）</td>
								</tr>
								<tr>
									<th>社員数</th>
									<td>15名</td>
								</tr>
								<tr>
									<th>グループ会社</th>
									<td><a href="https://shinonomekazan.vn/">東雲火山ベトナム</a>（2021年5月設立）</td>
								</tr>
							</tbody>
						</table>
					</div>
				</article>
				<section id="bio" class="section">
					<div class="content">
						<details>
							<summary class="subtitle is-4">代表取締役略歴</summary>
							<div>
								<ul>
									<li>
										～17歳まで:
										小学校5年生でプログラミングをはじめ、6年生で引きこもり、中学校は一日だけ登校
									</li>
									<li>17歳～19歳: 家出して肉体労働や接客をやっていたら結核にかかり強制送還</li>
									<li>
										20歳～25歳:
										日本のSIerでSEとして働く（途中やめて半年間ウルティマオンラインをする等する）
									</li>
									<li>25歳～28歳: ベトナムでCTOとして共同起業したが、のち倒産</li>
									<li>
										28歳～30歳:
										ベトナムと日本の合弁会社に役員として入り、現地でソーシャルゲームを運営する
									</li>
									<li>
										30歳～31歳:
										ベトナム人の妻と結婚、妻とベトナム奥地で会社を作り自社サービス開発に没頭
									</li>
									<li>32歳～36歳: 奇病にかかり日本帰国。株式会社ドワンゴで正社員として働く</li>
									<li>37歳～: ドワンゴを退社し、東雲火山を起業</li>
								</ul>
							</div>
						</details>
					</div>
				</section>
				<section id="policy">
					<article class="message">
						<header class="message-header">
							<h2 class="subtitle has-text-light is-4">企業理念、社是</h2>
						</header>
						<div class="message-body">
							<section id="policy-summary" class="content">
								<p>
									株式会社東雲火山は、主にWeb/ゲーム系の受託・請負開発と自社サービス開発を行う会社です。まだ立ち上げたばかりの小さな会社ですが、社是として「断片の価値の追求」を掲げています。
								</p>
								<p>
									週1日だけしか勤務できない人材、リモートでしか働けない人材、着眼点はいいが作りかけのサービス、よく出来ているが小さなプログラム。他では価値として認められにくい「断片」。それらの価値を追求していける会社にしていく予定です。
								</p>
								<p>
									以下は、おおよその目安としたいロードマップです。当面、受託開発を頑張っていくことになるでしょう。
								</p>
							</section>
							<section id="roadmap" class="content">
								<table class="table is-bordered">
									<thead>
										<tr class="has-background-dark">
											<th class="has-text-light">時期</th>
											<th class="has-text-light">目標</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>2019年</th>
											<td>会社設立。一人法人で受託中心に事業を行いつつ、会社経営に慣れる</td>
										</tr>
										<tr>
											<th>2020年</th>
											<td>社是を指針に、受託事業を柱にしつつ、規模の拡大を図る</td>
										</tr>
										<tr>
											<th>2021年</th>
											<td>
												受託以外の事業でも売上を立て始め、価値を引き出せる断片の領域を広げていく
											</td>
										</tr>
										<tr>
											<th>2022年以降</th>
											<td>
												断片の価値の追求をしている法人である、と、胸を張って言えるようになる
											</td>
										</tr>
									</tbody>
								</table>
							</section>
						</div>
					</article>
				</section>
			</section>
		</main>
		{{>footer}}
	</body>
</html>
