<!DOCTYPE html>
<html lang="ja">

<head>
	{{>head title="株式会社東雲火山"}}
	<meta name="description" content="Web、ゲーム系システムの受託・請負開発並びに自社サービス展開を行っている、株式会社東雲火山のホームページです。">
</head>

<body class="has-navbar-fixed-top">
	{{>header subtitle="会社概要"}}
	<main class="container">
		<section id="about">
			<article class="message">
				<div class="content">
					<table class="table">
						<tbody>
							<tr>
								<th>会社名</th>
								<td>株式会社東雲火山</td>
							</tr>
							<tr>
								<th>会社名（ヨミ）</th>
								<td>カブシキガイシャシノノメカザン</td>
							</tr>
							<tr>
								<th>法人番号</th>
								<td><a href="https://www.houjin-bangou.nta.go.jp/henkorireki-johoto.html?selHouzinNo=9010001198568">9010001198568</a></td>
							</tr>
							<tr>
								<th>所在地</th>
								<td>東京都中央区湊3丁目4番8号ウェルシャン築地701</td>
							</tr>
							<tr>
								<th>URL</th>
								<td>https://shinonomekazan.com</td>
							</tr>
							<tr>
								<th>設立</th>
								<td>2019年2月14日</td>
							</tr>
							<tr>
								<th>主な事業</th>
								<td>コンピュータソフトウェアの受託及びコンサルティング、及び企画運営</td>
							</tr>
							<tr>
								<th>資本金</th>
								<td>100万円</td>
							</tr>
							<tr>
								<th>代表取締役</th>
								<td>告原豊和（つげはら とよかず）</td>
							</tr>
							<tr>
								<th>主要取引先（順不同/敬称略）</th>
								<td><a href="http://www.starfactory-inc.co.jp/">株式会社スターファクトリー</a></td>
							</tr>
							<tr>
								<th>加盟団体</th>
								<td>東京商工会議所</td>
							</tr>
						</tbody>
					</table>
				</div>
			</article>
			<section id="bio" class="section">
				<div class="content">
					<details>
						<summary class="subtitle is-4">代表取締役略歴</summary>
						<div>
							<ul>
								<li>～17歳まで: 小学校5年生でプログラミングをはじめ、6年生で引きこもり、中学校は一日だけ登校</li>
								<li>17歳～19歳: 家出して肉体労働や接客をやっていたら結核にかかり強制送還
								<li>20歳～25歳: 日本のSIerでSEとして働く（途中やめて半年間ウルティマオンラインをする等する）
								<li>25歳～28歳: ベトナムでCTOとして共同起業したが、のち倒産
								<li>28歳～30歳: ベトナムと日本の合弁会社に役員として入り、現地でソーシャルゲームを運営する
								<li>30歳～31歳: ベトナム人の妻と結婚、妻とベトナム奥地で会社を作り自社サービス開発に没頭
								<li>32歳～36歳: 奇病にかかり日本帰国。株式会社ドワンゴで正社員として働く
								<li>37歳～: ドワンゴを退社し、東雲火山を起業
							</ul>
						</div>
					</details>
				</div>
			</section>
			<section id="policy">
				<article class="message">
					<header class="message-header">
						<h2 class="subtitle has-text-light is-4">企業理念、社是</h2>
					</header>
					<div class="message-body">
						<section id="policy-summary" class="content">
							<p>株式会社東雲火山は、主にWeb/ゲーム系の受託・請負開発と自社サービス開発を行う会社です。</p>
							<p>色々と面白い事をやっていきたいところなのですが、会社運営が初めての身で大風呂敷だけ先に広げるのは控えたいため、こちらへの記述は最小限にとどめます。</p>
							<p>以下は、おおよその目安としたいロードマップですが、東雲火山にとって直近で最も重要視するのは受託開発業務である、というのが当面唯一の対外的に重要な点です。</p>
						</section>
						<section id="roadmap" class="content">
							<table class="table is-bordered">
								<thead>
									<tr class="has-background-dark">
										<th class="has-text-light">時期</th>
										<th class="has-text-light">目標</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>2019年</th>
										<td>会社設立。一人法人で受託中心に事業を行いつつ、会社経営に慣れる</td>
									</tr>
									<tr>
										<th>2020年</th>
										<td>受託事業を継続的に実施しつつ、自社サービスまたは受託以外の事業での売り上げを立て始める</td>
									</tr>
									<tr>
										<th>2021年</th>
										<td>受託事業を継続的に実施しつつ、自社サービスまたは受託以外の事業での売り上げを当初想定通りの金額に乗せる</td>
									</tr>
									<tr>
										<th>2022年以降</th>
										<td>面白いことをやる</td>
									</tr>
								</tbody>
							</table>
						</section>
					</div>
				</article>
			</section>
		</section>
	</main>
	{{>footer}}
</body>

</html>
