<!DOCTYPE html>
<html lang="ja">

<head>
	{{>head title="採用 | 株式会社東雲火山"}}
</head>

<body class="has-navbar-fixed-top">
	{{>header subtitle="採用"}}
	<main class="container">
		<section id="jobs">
			<article id="introduce-jobs">
				<header>
					<h2 class="subtitle is-3">東雲火山の採用について</h2>
				</header>
				<section class="section">
					<div class="content">
						<p>東雲火山は作ったばかりの、属人生の高い仕事を多くこなす、小さな法人です。</p>
						<p>是非一般的な社会人生活を私達と一緒に過ごしましょう、という採用は行っていません。そういった形態であれば、他の素晴らしい企業がたくさんあります。</p>
						<p>一方、東雲火山は「断片の価値の追求」をしたいと考える法人であり、その法人が断片化された就労形態に対して生み出した雇用には、一定の価値があるのではないか、とも考えています。</p>
						<p>本ページでは、そういった考えのもとに設置された、2020年に東雲火山が行っている採用枠について記していきます。</p>
						<p>東雲火山の事業的な特色は<a href="./work.html">事業内容</a>を、技術的な特色は<a href="./tech.html">利用技術</a>をご参照ください。</p>
					</div>
				</section>
			</article>

			<article id="employee">
				<header>
					<h2 class="subtitle is-3">社員・パートタイム</h2>
				</header>
				<div class="section">
					<section id="general-job" class="card">
						<div class="card-header is-primary">
							<p class="card-header-title">未経験可、週1～2、月5万円～10万円</p>
						</div>
						<div class="card-content">
							<p>IT関係は未経験でも、意欲や他の技能があれば歓迎します。</p>
							<p>総務系の仕事（経理、労務、法務、人事他）等を多少受け持ってもらいながら、ITを勉強しつつ業務に入ってもらいます。</p>
							<p>週8時間～16時間程度で、慣れてきたら基本的にはリモートワークで問題ありません。</p>
							<p>まずは出来る事、やりたい事、伸ばしていきたい事を教えてください。やってもらいたい仕事を例示させていただきます。</p>
							<p>こちらの枠は、パートタイムでの採用も検討します。</p>
							<p>学生、シルバー層、主婦層、転職検討中の方の副業、などが、想定する対象者です。</p>
						</div>
					</section>
				</div>
				<div class="section">
					<section id="ojt-job" class="card">
						<div class="card-header is-primary">
							<p class="card-header-title">要基礎スキル、週1、月8万円～12万円</p>
						</div>
						<div class="card-content">
							<p>学校やプライベートワーク等で、十分な能力（プログラミング、デザイン等）をお持ちの方であれば、実務経験が無くても歓迎します。</p>
							<p>週8時間程度で、慣れてきたら基本的にはリモートワークで問題ありません。</p>
							<p>不足部分の勉強はしつつ、実際の業務に戦力として入っていただくのを想定しています。</p>
							<p>まずは出来る事、やりたい事、伸ばしていきたい事を教えてください。やってもらいたい仕事を例示させていただきます。</p>
							<p>大学生、フリーター、主婦層、転職検討中の方の副業、などが、想定する対象者です。</p>
						</div>
					</section>
				</div>
				<div class="section">
					<section id="veteran-job" class="card">
						<div class="card-header is-primary">
							<p class="card-header-title">要実務経験、週2、月24万円</p>
						</div>
						<div class="card-content">
							<p>実務経験が十分にある人の、週16時間程度の枠です。慣れてきたら基本的にはリモートワークで問題ありません。</p>
							<p>Web、Unity、サーバ、インフラ、デザイン、企画等、即戦力となる能力をお持ちの方を対象としています。</p>
							<p>出来ることをお教えいただければ、お願いしたい仕事を例示させていただきます。</p>
							<p>現役の方の副業、時間は少ないが技術力は十分にある方、などが、想定する対象者です。</p>
						</div>
					</section>
				</div>
				<div class="section">
					<section id="shorttime-job" class="card">
						<div class="card-header is-primary">
							<p class="card-header-title">要実務経験、短時間週5（応相談）、月20万円（応相談）</p>
						</div>
						<div class="card-content">
							<p>1日5時間、週5等を想定していますが、まずは出来る事と、ご希望の就業内容をお教えください。やっていただけそうな仕事を例示させていただきます。</p>
							<p>こちらも、慣れてきたら基本的にはリモートワークで問題ありません。</p>
							<p>実務にも入っていただきたいですが、総務面で貢献いただけそうな場合等は、そちらの業務を中心に考える事もあるかもしれません。</p>
							<p>職場の状況にもよりますが、お子様連れの出勤等もご相談には乗らせていただきます。</p>
							<p>幼稚園生の親御さん等、他企業の時短勤務では不十分な方、などが、想定する対象者です。</p>
						</div>
					</section>
				</div>
			</article>

			<article id="common-rule">
				<header>
					<h2 class="subtitle is-3">共通している事</h2>
				</header>
				<section class="section">
					<div class="content">
						<ul>
							<li>資格・学歴・性別不問<br/>
								代表が小学校もろくに卒業していませんので、資格・学歴は問いません。<br/>
								性別も含めて、肩書ではなく実力で語り合いましょう。</li>
							<li>年齢不問<br/>
								年齢も肩書の一種なので気にしないでください。学生でもシルバーでも歓迎します。</li>
							<li>副業歓迎<br/>
								本業が別にある人でも、東雲火山入社後に副業をしたい人でも歓迎します。</li>
							<li>退社歓迎<br/>
								入ってみて、気にいらなかったらやめてもらっても大丈夫です。<br/>
								本来は労働者の権利なので書くまでもないですが、気軽に来て、気軽に出て行ける、そういう前提でいらしてください。</li>
							<li>福利厚生<br/>
								作ったばかりの法人ですので、正直そこまで充実していません。<br/>
								社保・雇用保険はあり、少額の個人決済可能な経費枠の割り当てがある程度ですので、手厚い福利厚生をお望みの方には合わないと思います。<br/>
								また、人数も少なくリモート主体なので、口頭でのコミュニケーションが少なくなりそうな点等もご注意ください。</li>
							<li>ITは必ず使います<br/>
								未経験でもシルバー層でも、GitHubやSlack等は使っていただきます。</li>
						</ul>
					</div>
				</section>
			</article>

			<article id="other-jobs">
				<header>
					<h2 class="subtitle is-3">それ以外の採用について</h2>
				</header>
				<section class="section">
					<div class="content">
						<p>他所では少なそうな求人に限定していますが、小さな法人であればこそ、意外なニーズもあります。</p>
						<p>書いていない事でも、何かあれば気軽にお問い合わせください。</p>
					</div>
				</section>
			</article>

			<article id="contact-form">
				<header>
					<h2 class="subtitle is-3">お問い合わせ</h2>
				</header>
				<section class="section">
					<div class="content">
						<p>ページ下部の個人情報の取り扱いについて確認後、以下フォームよりお問い合わせください。</p>
						<p>応募の場合、問い合わせ後、メールにて面談日時と面談方法の調整、合否の連絡という流れで進みます。</p>
						<p>面談はリモートでも実施できますが、リモートの場合原則としてカメラ（スマートフォンでも可）を必須とさせていただきます。</p>
						<p>フォームでは添付ファイルを受け付けていませんので、必要なファイル等はその後のメールのやり取りでご送信ください。</p>
						<div>
							<a class="button is-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdFlyEitUli9bJrtfBAmejjTbJ3QExIP_r9afQ04MqFLfTT4Q/viewform?usp=sf_link">お問い合わせ</a>
						</div>
					</div>
					<div class="content">
						<ul>
							<li>個人情報の利用目的
								<ul>
									<li>当社は、お預かりした個人情報を採用選考並びにお問い合わせの回答でのみ利用します。</li>
								</ul>
							</li>
							<li>個人情報の提供
								<ul>
									<li>当社は、お預かりした個人情報を、法令、条例その他関係当局の要請等に基づき開示する場合を除き、第三者に提供しません。</li>
								</ul>
							</li>
							<li>個人情報の管理
								<ul>
									<li>当社は、お預かりした個人情報を適切に管理し、また、問い合わせに対する回答等が完了した場合または採用選考が終了した際に、適切に破棄します。</li>
								</ul>
							</li>
						</ul>
					</div>
				</section>
			</article>
		</section>
	</main>
	{{>footer}}
</body>

</html>
