<!DOCTYPE html>
<html lang="ja">
	<head>
		{{>head title="ロゴ紹介 | 株式会社東雲火山"}}
	</head>

	<body class="has-navbar-fixed-top">
		{{>header subtitle="ロゴ紹介"}}
		<main class="container">
			<section id="logo">
				<article id="introduce-logo">
					<div class="content">
						<p>2019年4月23日に東雲火山のロゴが運用開始されました。</p>
						<p>本ページでは主に利用されるロゴについてご紹介します。</p>
					</div>
					<table class="table">
						<tbody>
							<tr>
								<td>
									<img alt="東雲火山のロゴマーク" src="files/images/mark-plain.svg" />
								</td>
								<td>山と雲のロゴマークです。</td>
							</tr>
							<tr>
								<td>
									<img alt="東雲火山のロゴタイプ" src="files/images/moji-plain.svg" />
								</td>
								<td>正方形のロゴタイプです。</td>
							</tr>
							<tr>
								<td>
									<img alt="東雲火山のロゴ" src="files/images/logo-plain.svg" />
								</td>
								<td>縦配置のロゴです。</td>
							</tr>
							<tr>
								<td>
									<img alt="東雲火山のロゴ - 横配置" src="files/images/logo-wide-218x50.webp" />
								</td>
								<td>Webサイトのヘッダ用に横長配置にしたロゴです。</td>
							</tr>
							<tr>
								<td>
									<img alt="東雲火山のハンコ" src="files/images/hanko-plain.svg" />
								</td>
								<td>
									デジタル署名用のハンコイメージです。<br />
									電子署名の書類等に利用されています。
								</td>
							</tr>
							<tr>
								<td>
									<img alt="Volcano" width="110" src="files/images/volcano.svg" />
								</td>
								<td>
									火山が噴火しているロゴマークです。<br />
									矢継ぎ早にゲームを生み出す、Volcano
									Gamesと言う事業形態のロゴとして利用されています。<br />
									このチームは、東雲火山、ベトナムの開発・デザイン部隊、日本の協力会社の連合で構成されています。<br />
									Volcano Gamesの詳細資料は<a href="/files/products/volcano-games.pdf">こちら</a
									>をご覧ください。
								</td>
							</tr>
						</tbody>
					</table>
				</article>
			</section>
		</main>
		{{>footer}}
	</body>
</html>
