<!DOCTYPE html>
<html lang="ja">
	<head>
		{{>head title="利用技術 | 株式会社東雲火山"}}
	</head>

	<body class="has-navbar-fixed-top">
		{{>header subtitle="利用技術"}}
		<main class="container">
			<section id="technology">
				<article id="introduce-technology">
					<header>
						<h2 class="subtitle is-3">はじめに</h2>
					</header>
					<section class="section">
						<div class="content">
							<p>
								本ページでは、2024年05月現在、東雲火山でよく利用している技術、苦手としている技術などをまとめていきます。
							</p>
							<p>
								東雲火山では現代の多くの技術は水物になりつつあり、また属人性が高いと考えているため、技術企業としての方針を指し示すものでは無い点にご注意ください。
							</p>
						</div>
					</section>
				</article>
				<article id="general-technology">
					<header>
						<h2 class="subtitle is-3">よく使う技術</h2>
					</header>
					<section id="client-technologies" class="section">
						<h3 class="subtitle is-4">クライアント</h3>
						<div class="content">
							<ul>
								<li>
									Vue.js, Vanilla, React<br />
									Web系はVanilla構成を最も好んでいて、次いでVue.js、Reactの順です。
								</li>
								<li>
									Unity<br />
									スマートフォン向けのゲームやVRはほぼUnityです。
								</li>
								<li>SASS, Stylus, Material Design</li>
								<li>Bootstrap, Vuetify, Element UI</li>
								<li>
									jQueryやprototype.js等<br />
									今っぽいものばかりでなく、レガシー系もそれなりに扱います。
								</li>
							</ul>
							<p>Unityではないネイティブアプリのプロジェクトは、東雲火山では関われていません。</p>
						</div>
					</section>
					<section id="server-technologies" class="section">
						<h3 class="subtitle is-4">サーバ</h3>
						<div class="content">
							<ul>
								<li>
									node.js, TypeScript<br />
									サーバの最も基本的な構成です。
								</li>
								<li>
									PHP, Python<br />
									顧客の要望に合わせて、PHPとPythonは利用しています。
								</li>
								<li>
									MySQL, PostgreSQL, Redis, Firestore<br />
									位置情報はPostgreSQL、アプリケーションはMySQLです。<br />
									NoSQLではFirestore、KVS系の使い方としてはRedisが多いです。
								</li>
								<li>
									docker等<br />
									他所と比べるとそれなりというレベルですが、使っています。
								</li>
							</ul>
							<p>Scala含む関数型全般、PythonやGo、CやRust等は弱めです。</p>
						</div>
					</section>
					<section id="infrastructure-technologies" class="section">
						<h3 class="subtitle is-4">インフラ</h3>
						<div class="content">
							<ul>
								<li>
									Firebase, Netlify<br />
									最近はFirebaseを中心にすることが多いです。
								</li>
								<li>
									Terraform, CloudFormation, Serverless Framework<br />
									chef、Ansible、Pulumiはあまり使えてないです。
								</li>
								<li>
									AWS, GCP<br />
									Azureの経験もありますが、積極採用はしてません。
								</li>
								<li>
									オンプレミス（Ubuntu）<br />
									一部のプロジェクトでは、オンプレミスのサーバ運用も行っています。
								</li>
							</ul>
							<p>
								PlayFabやSteam等、ゲームプラットフォーム系へのデプロイ経験が不足気味で、経験を蓄積していきたいですがまだできていません。
							</p>
						</div>
					</section>
					<section id="analysis-technologies" class="section">
						<h3 class="subtitle is-4">解析系</h3>
						<div class="content">
							<ul>
								<li>Firebase</li>
								<li>AppLovin MAX, Tenjin</li>
								<li>Google Analytics (Tag Manager含む)</li>
								<li>BigQuery, Tableau, Looker Studio</li>
								<li>Athena (Presto), Hive</li>
							</ul>
							<p>解析系はPig等も含めてある程度は触れますが、そこまで詳しくはないです。</p>
						</div>
					</section>
					<section id="tools" class="section">
						<h3 class="subtitle is-4">ツール類</h3>
						<div class="content">
							<ul>
								<li>
									GitHub, GitLab, Azure Dev Ops<br />
									フル活用しているのはGitHubですが、SVN等含めて特に抵抗なく使います。
								</li>
								<li>
									VSCode (LiveShareを含む)<br />
									エディタはVSCodeが支配的ですが、担当者に任せています。
								</li>
								<li>
									Slack, Google Meet, Teams, Zoom<br />
									Skypeやチャットワーク等含めて、相手側に合わせる事が多いです。<br />
									基幹のコミュニケーションツールはSlack（とGitHub）に寄せています。
								</li>
								<li>MS Office 365, Google Workspace</li>
								<li>Adobe CC</li>
								<li>
									freee<br />
									会計ソフトは当分こちらで進めると思います。
								</li>
								<li>SmartHR</li>
							</ul>
							<p>ツールは今運用しているものの列挙なので、追加・切り替えは適時行っていきます。</p>
						</div>
					</section>
				</article>

				<article id="frameworks">
					<header>
						<h2 class="subtitle is-3">よく使うフレームワーク</h2>
					</header>
					<section id="improve-publish" class="section">
						<h3 class="subtitle is-4">Akashic</h3>
						<div class="content">
							<p>
								<a href="https://dwango.co.jp/">株式会社ドワンゴ</a>さんが提供している
								<a href="https://akashic-games.github.io/">Akashic Engine</a>を得意としています。
							</p>
							<p>
								東雲火山は日本で数少ないAkashicの公認パートナーであり、
								その技術を利用してマルチプレーゲームの制作を安価に行います。<br />
								ゲーム系はAkashicに限らず、優れたトリプルAタイトルのような方向ではなく、
								少し趣向を変えたゲームを安価に作る方向を強化しています。
							</p>
						</div>
					</section>
					<section id="improve-iot" class="section">
						<h3 class="subtitle is-4">PostGIS</h3>
						<div class="content">
							<p>
								<a href="./files/products/geo-magic.pdf">Geo Magic</a
								>の内部ではPostGISを多用しています。
							</p>
							<p>
								タイルAPIやGeocodingといった分野も得意としており、
								PostGISを中心に今後も位置情報系技術は強化していく予定です。
							</p>
						</div>
					</section>
				</article>

				<article id="improve-technology">
					<header>
						<h2 class="subtitle is-3">延ばしていきたいところ</h2>
					</header>
					<section id="improve-deep-learning" class="section">
						<h3 class="subtitle is-4">機械学習系</h3>
						<div class="content">
							<p>さすがに無視できないので、強化する必要性は感じています。</p>
							<p>機械学習の話を十分にできる人材との強いつながりも確保しておきたいと思っています。</p>
							<p>
								自社で全部やるという方向性よりは、機械学習に強いパートナーとの関係性構築を模索しています。
							</p>
						</div>
					</section>
					<section id="improve-design" class="section">
						<h3 class="subtitle is-4">デザイン</h3>
						<div class="content">
							<p>東雲火山でも業務委託の協力者を含め、デザイン業務を取り扱っています。</p>
							<p>
								2024年05月現在まだまだ育成中であるため、まずはWebデザインを一定のレベルで取り扱える会社となっていけるよう、獲得した案件で部分的にデザインを任せてもらう等のアプローチを行っています。
							</p>
						</div>
					</section>
					<section id="improve-xr" class="section">
						<h3 class="subtitle is-4">XR関連</h3>
						<div class="content">
							<p>東雲火山でもXRの案件は部分的に実施しています。</p>
							<p>
								位置情報の技術を重要視しているため、特に相性の良いAR案件には今後も積極的に関わっていきたいと考えています。
							</p>
						</div>
					</section>
				</article>
			</section>
		</main>
		{{>footer}}
	</body>
</html>
