<!DOCTYPE html>
<html lang="ja">
	<head>
		{{>head title="株式会社東雲火山"}}
	</head>

	<body class="has-navbar-fixed-top">
		{{>header subtitle="人材育成方針"}}
		<main>
			<div class="training_container">
				<div class="mv_wrapper">
					<img class="mv_pc" src="files/images/training/mv_pc.png" alt="mv_pc" />
					<img class="mv_sp" src="files/images/training/mv_sp.png" alt="mv_sp" />
				</div>

				<!--見出し１-->
				<div class="heading">
					<div class="heading_01_a">
						<img class="training1_pc" src="files/images/training/img_01.png" alt="img_01" />
						<img class="training1_sp" src="files/images/training/img_01_sp.png" alt="img_01" />
					</div>
					<div class="heading_01_b">
						<img class="training2_pc" src="files/images/training/img_02.png" alt="img_02" />
						<img class="training2_sp" src="files/images/training/img_02_sp.png" alt="img_02" />
					</div>
				</div>
				<!--見出し２-->
				<div class="heading">
					<div class="seven_definition">
						<div class="heading_2">
							<h4 class="heading_text">断片要素のある人材 <br /><span>7</span>つの定義</h4>
							<div class="No01">
								<div class="definition_wrapper">
									<img class="definition_img" src="files/images/training/01.png" alt="01" />
								</div>
								<p class="definition_text">フルタイムでは働けない人材（副業含む）</p>
							</div>
							<div class="definition No02">
								<div class="definition_wrapper">
									<img class="definition_img" src="files/images/training/02.png" alt="02" />
								</div>
								<p class="definition_text">リモートワークでしか働けない人材</p>
							</div>
							<div class="definition No03">
								<div class="definition_wrapper">
									<img class="definition_img" src="files/images/training/03.png" alt="03" />
								</div>
								<p class="definition_text">
									その分野では未経験だが習得意欲があり、
									その分野を勉強しながら別の業務で貢献ができる人材
								</p>
							</div>
							<div class="definition No04">
								<div class="definition_wrapper">
									<img class="definition_img" src="files/images/training/04.png" alt="04" />
								</div>
								<p class="definition_text">
									コミュニケーション能力は高いが技術力は低い人材、
									反対に技術力は高いがコミュニケーション能力は低い人材
								</p>
							</div>
							<div class="definition No05">
								<div class="definition_wrapper">
									<img class="definition_img" src="files/images/training/05.png" alt="05" />
								</div>
								<p class="definition_text">実務経験はないが能力はあり、経歴が足らず就職できない人材</p>
							</div>
							<div class="definition No06">
								<div class="definition_wrapper">
									<img class="definition_img" src="files/images/training/06.png" alt="06" />
								</div>
								<p class="definition_text">健康不安等で、勤怠が不安定にならざるを得ない人材</p>
							</div>
							<div class="definition No07">
								<div class="definition_wrapper">
									<img class="definition_img" src="files/images/training/07.png" alt="07" />
								</div>
								<p class="definition_text">
									断片的なサービスを作っていて、 その価値を出す方法を模索している人材
								</p>
							</div>
							<p class="definition_matome">
								これらの要素を何も持っていない方は、他の会社に就職する事に特に問題が無いと思うので、基本的には入社をお断りしています。
								<br />
								断片要素のある方だけ、東雲火山への就職をご検討ください。
							</p>
						</div>
					</div>
				</div>
				<!--見出し３-->
				<div class="heading">
					<div class="heading_3">
						<h4 class="heading_text">東雲火山での就労にあたって意識してもらいたい事</h4>
						<div class="employment">
							<div class="employment_text">
								<span>東</span>雲火山は小さな法人であり、十分な福利厚生等を与える力はありません。
								他の魅力的な選択肢のことを、常に頭に入れてください。
								東雲火山は数ある選択肢の一つにすぎません。
								東雲火山での就労にやりがいを持つ事と、現状に満足しきってしまう事は別の問題です。
								東雲火山は退社も再入社も副業も歓迎です。
								失敗したら戻ってくればいいので、いつでも他の事に挑戦してください。
							</div>
							<figure class="employment_img">
								<img src="files/images/training/img_03.png" alt="img_03" />
							</figure>
						</div>
						<p class="employment_matome">
							東雲火山のみで満足する事なく、自分の可能性を信じて、できる限り高いところを目指していただきたいと考えています
						</p>
					</div>
				</div>
				<!--見出し４-->
				<div class="heading">
					<div class="career">
						<div class="heading_4">
							<h4 class="heading_text">東雲火山でキャリア構築を支援する体制</h4>
							<div class="career_img_wrapper">
								<img class="career_img" src="files/images/training/img_04.png" alt="img_03" />
							</div>

							<div class="career_box 01">
								<h5 class="career_heading">キャリアプラン</h5>
								<p class="career_text">
									3か月に1度、定期面談を行います<br />
									本面談において、業績、能力評価の他、キャリアプランの作成と読み合わせを行います
								</p>
							</div>
							<div class="career_box 02">
								<h5 class="career_heading">目標</h5>
								<p class="career_text">
									本キャリアプランにおいて、東雲火山での目指すべき目標と、
									東雲火山以外で目指すべき目標を定義し、定期的に見直します
								</p>
							</div>
							<div class="career_box 03">
								<h5 class="career_heading">支援</h5>
								<p class="career_text">
									本人の断片要素もなくせるところはなくして、
									より良い選択肢への道を切り開けるよう支援していきます
								</p>
							</div>
						</div>
					</div>
				</div>
				<!--見出し5-->
				<div class="heading">
					<div class="heading_5">
						<h4 class="heading_text">東雲火山としての思い</h4>
						<div class="thought_box">
							<p class="thought_text">
								東雲火山は断片の価値を追求する会社です。<br />
								断片だった社員が一人前になり、良い選択肢を選ぶ事は、断片だった社員の価値を引き出せたと胸を張って言える出来事です。<br />
								他の選択肢を選ぶ事を躊躇しないでください。<br />
								現状に満足しきる事なく、自分自身の可能性を信じて、勇気をもって一歩を踏み出してください。<br />
								卒業、巣立ち。色々な言い方があると思いますが、会社名にちなんで東雲と呼ぶのが適切でしょうか。<br />
								東雲を迎える社員が、火山から吹き出るマグマのように、勢いよく、たくさん生まれてくれる事を期待しています。<br />
							</p>
							<div class="thought_img_wrapper">
								<img class="thought_img" src="files/images/training/background_02.png" alt="img_03" />
							</div>
						</div>
						<div class="supplement_box">
							<div class="accordion">
								<div class="option">
									<input type="checkbox" id="toggle1" class="toggle" />
									<label class="title" for="toggle1">補足</label>
									<div class="supplement_text">
										<p>
											東雲火山はそういった方針でキャリアプランの策定を助け、本人の成長の手助けをしていきますが、他の選択肢を選ぶ勇気がない人員や、
											上手く上昇志向のキャリアを描けない社員を否定するつもりはありません。 <br />
											より高みを目指していきましょう、それこそがあなたたちの価値を最大化する事につながると信じています、というメッセージは常に共有していきますが、
											それと同じくらい東雲火山での働き方も快適でやりがいのあるものにする事は求めていきますし、長く在籍したい社員がいれば、それはそれで応援していきます。<br />
											断片ではなくなったが、理念に共感して働き続けたいといった方には、将来的には役員としての参画の道も考えていただけるように整備する予定もあります。
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		{{>footer}}
	</body>
</html>
