<!DOCTYPE html>
<html lang="ja">
	<head>
		{{>head title="事業内容 | 株式会社東雲火山"}}
	</head>

	<body class="has-navbar-fixed-top">
		{{>header subtitle="事業内容"}}
		<main class="container">
			<section id="work">
				<article id="contracted_development">
					<header>
						<h2 class="subtitle is-3">紹介資料</h2>
					</header>
					<section class="section">
						<div class="content">
							<p>
								東雲火山で行っている事業等を早巡りでご欄になりたい方は、下記紹介資料をご参照ください。
							</p>
							<p>
								<a href="/files/products/shinonomekazan.pdf">東雲火山ご紹介資料 - 2021年版</a>
							</p>
						</div>
					</section>
				</article>
				<article id="contracted_development">
					<header>
						<h2 class="subtitle is-3">受託・請負開発</h2>
					</header>
					<section class="section">
						<div class="content">
							<p>東雲火山はWeb/ゲーム系はフロントエンドもバックエンドも一通りこなす何でも屋です。</p>
							<p>
								人手が足りない、設計で困っている、プロジェクトに1チームだけ足りない、インフラだけ見られる人がいない、メンバーの教育に困っている、などがあれば、お気軽にご相談ください。何かしらお力になれると思います。
							</p>
							<p>是非、プロジェクトに東雲火山という断片を加えてみる事をご検討ください。</p>
						</div>
					</section>
					<section id="prices" class="section">
						<h3 class="subtitle is-4">目安単価</h3>
						<div class="content">
							<p>
								東雲火山は高スキル人員とプロジェクトチームの組み合わせで業務を行う事を得意としています。
							</p>
							<p>
								高スキル人員は単価高めであり、週1日の稼働で月32万を目安としています。コンサル系案件では、この金額が一つの目安となります。
							</p>
							<p>
								プロジェクトチームの構成で導入を推奨しているベトナム側開発チームは、通訳代などを含む形で人月単価30万円としています。
							</p>
							<p>
								他にも色々な体制に対応できますが、お薦めの体制の具体例としてはそれらを組み合わせた、
								<a href="/files/products/volcano-games.pdf">Volcano Games</a
								>を提案しています。よろしければこちらもご参照ください。
							</p>
						</div>
					</section>
				</article>

				<article id="services">
					<header>
						<h2 class="subtitle is-3">自社サービス</h2>
					</header>
					<section class="section">
						<div class="content">
							<p>
								東雲火山の「火山」の部分には、<strong>島</strong>を生み出すもの、という意味が込められています。
							</p>
							<p>
								島とはプラットフォームの比喩であり、東雲火山は<strong>プラットフォームを生み出す会社</strong>にしたいためにそう名付けられました。
							</p>
							<p>
								断片の価値を生かすため、「よい感じのプロダクトを作ったのに、上が止めていてリリースできない」といった事態はできる限り避けたいと考えています。
							</p>
							<p>
								これを避ける一つのポリシーとして「思い立ったら即S-IN」を掲げており、すでに市場にあるものと大体似たようなものでも、考えたら作ってまず世に出してみる、という方向で進める予定です。
							</p>
						</div>
						<div class="content">
							<section id="geo_magic">
								<header>
									<h3 class="subtitle is-4">位置情報サーバを利用したサービス提供</h3>
								</header>
								<section class="section" style="padding: 0 0 0 1em">
									<div class="content">
										<p>
											東雲火山は位置情報のデータベース、API等を提供する自社商品を保持しており、こちらのライセンシーやこの商品を生かした新規サービスの開発に積極的です。
										</p>
										<p>位置情報を使ったサービスを作ってみたい方は、試しにお声がけください。</p>
										<p><a href="./files/products/geo-magic.pdf">Geo Magicの商品紹介</a></p>
									</div>
								</section>
							</section>
						</div>
					</section>
				</article>

				<article id="vietnam">
					<header>
						<h2 class="subtitle is-3">ベトナムとの業務</h2>
					</header>
					<section class="section">
						<div class="content">
							<p>
								東雲火山は2021年05月からベトナムに子会社も設立しており、
								子会社や現地とのコネクションを活用した業務を得意としています。
							</p>
							<p>
								開発以外にも、通訳、翻訳、会社設立、発注先のリストアップ、ベトナムでのサービス展開など、ベトナム関連での相談があればお気軽にご相談ください。
							</p>
						</div>
					</section>
				</article>
			</section>

			<article id="history">
				<header>
					<h2 class="subtitle is-3">実績等</h2>
				</header>
				<section class="section">
					<div class="content">
						<p>創業したばかりで会社としての実績が少ないため、各種参考情報を適時貼っていきます。</p>
						<ul>
							<li>
								ソースコードやデモ
								<ul>
									<li>
										<a href="https://github.com/shinonomekazan">GitHub</a><br />
										このWebサイト等各種ソースが置いてあります。<br />
										オープンを志向しており、公開できるものは文書でも、コードでも、なるべく多く公開していきます。
									</li>
									<li>
										<a href="https://contents.shinonomekazan.com">東雲火山の山麓</a><br />
										関係者ブログや東雲火山の運用を通して出てきたTipsなどをまとめておく場所です。VuePressを使っています。
									</li>
								</ul>
							</li>
							<li>
								作業実績等
								<ul>
									<li>
										2021年05月18日: 採用活動を強化し始め、<a
											href="https://members.shinonomekazan.com/"
											>断片の価値の追求</a
										>の特設サイトを公開
									</li>
									<li>
										2021年05月15日: ベトナム法人<a
											href="https://contents.shinonomekazan.com/shinonomekazan-vietnam.html"
											>東雲火山ベトナムを設立</a
										>
									</li>
									<li>2021年04月09日: 自社製ゲームをリリースし、受託以外の業務を本格化</li>
									<li>2021年01月01日: 社員数が5名に増加</li>
									<li>2020年12月14日: ものづくり補助金の実施事業採択</li>
									<li>2020年10月01日: 社員数が4名に増加</li>
									<li>2020年05月08日: <a href="./tech.html">利用技術</a>を追加</li>
									<li>2020年05月06日: <a href="./logo.html">Volcano Gamesのロゴ</a>を追加</li>
									<li>2020年04月01日: 事業拡大に伴い、本社を移転</li>
									<li>2020年01月20日: ベトナムとの取引のため仮想通貨を導入</li>
									<li>
										2019年11月01日:
										スマートフォン向けゲームの開発業務を開始、ベトナムとの取引が本格化
									</li>
									<li>2019年10月01日: 位置情報系開発業務を開始、社員数が2名に増加</li>
									<li>2019年09月01日: ベトナムとの協業を開始</li>
									<li>2019年08月01日: VR系の開発業務を開始</li>
									<li>2019年07月12日: Web系の開発業務を開始</li>
									<li>2019年06月13日: 東京商工会議所に加盟</li>
									<li>2019年04月23日: <a href="./logo.html">コーポレートロゴ</a>が完成</li>
									<li>2019年04月01日: ゲーム系の開発業務を開始</li>
									<li>2019年02月22日: 本サイトを公開</li>
									<li>2019年02月14日: 登記</li>
								</ul>
							</li>
						</ul>
					</div>
				</section>
			</article>
		</main>
		{{>footer}}
	</body>
</html>
