<!DOCTYPE html>
<html lang="ja">
	<head>
		{{>head title="事業内容 | 株式会社東雲火山"}}
	</head>

	<body class="has-navbar-fixed-top">
		{{>header subtitle="事業内容"}}
		<main class="container">
			<section id="work">
				<article id="contracted_development">
					<header>
						<h2 class="subtitle is-3">紹介資料</h2>
					</header>
					<section class="section">
						<div class="content">
							<p>
								東雲火山で行っている事業等を早巡りでご欄になりたい方は、下記紹介資料をご参照ください。
							</p>
							<p>
								<a href="/files/products/shinonomekazan.pdf">東雲火山ご紹介資料 - 2025年版</a>
							</p>
						</div>
					</section>
				</article>
				<article id="contracted_development">
					<header>
						<h2 class="subtitle is-3">受託・請負開発</h2>
					</header>
					<section class="section">
						<div class="content">
							<p>東雲火山はWeb/ゲーム系はフロントエンドもバックエンドも一通りこなす何でも屋です。</p>
							<p>
								人手が足りない、設計で困っている、プロジェクトに1チームだけ足りない、インフラだけ見られる人がいない、メンバーの教育に困っている、などがあれば、お気軽にご相談ください。何かしらお力になれると思います。
							</p>
							<p>是非、プロジェクトに東雲火山という断片を加えてみる事をご検討ください。</p>
						</div>
					</section>
					<section id="prices" class="section">
						<h3 class="subtitle is-4">目安単価</h3>
						<div class="content">
							<p>
								東雲火山は様々な人員を組み合わせてプロジェクトチームを作る業務を得意としています。各人員の人月単価の詳細は<a
									href="https://github.com/shinonomekazan/documents/tree/main/others/sales/%E4%BA%BA%E6%9C%88%E5%8D%98%E4%BE%A1.md"
									>人月単価</a
								>をご参照してください。
							</p>
							<div>
								<p>
									高スキル人員を10%～20%、一般社員かベトナム社員をプロジェクト規模に応じて組み合わせて取り組む形が、実績としては多くなっています。例としては以下のような形になります。
								</p>
								<table class="table is-striped is-bordered">
									<thead>
										<tr>
											<th>人員</th>
											<th>人月単価</th>
											<th>稼働量</th>
											<th>金額</th>
										</tr>
									</thead>
									<tbdoy>
										<tr>
											<td>高スキル人員/PM</td>
											<td>160万円</td>
											<td>10%</td>
											<td>16万円</td>
										</tr>
										<tr>
											<td>日本人ディレクター</td>
											<td>52万円</td>
											<td>40%</td>
											<td>20万円</td>
										</tr>
										<tr>
											<td>日本人デザイナー</td>
											<td>60万円</td>
											<td>20%</td>
											<td>12万円</td>
										</tr>
										<tr>
											<td>ベトナム人開発者</td>
											<td>30万円</td>
											<td>100%</td>
											<td>30万円</td>
										</tr>
										<tr>
											<td>計</td>
											<td>-</td>
											<td>1.7人月</td>
											<td>78万円</td>
										</tr>
									</tbdoy>
								</table>
							</div>
							<p>
								一つの構成案として
								<a href="/files/products/volcano-games.pdf">Volcano Games</a
								>を提案しています。よろしければこちらもご参照ください。
							</p>
						</div>
					</section>
				</article>

				<article id="bpo">
					<header>
						<h2 class="subtitle is-3">バックオフィスサポート業務</h2>
					</header>
					<section class="section">
						<div class="content">
							<p>
								東雲火山はリモート勤務の豊富なバックオフィス人員がおり、freeeでの日次・月次・年次の経理代行業務を中心に、バックオフィスのサポート業務を取り扱っております。
							</p>
							<p>
								一か月2万円、5万円、10万円のプランを用意しております。バックオフィス業務でお困りの方は、お気軽にお問い合わせください。
							</p>
							<p>詳しくは<a href="/files/products/bpo.pdf">資料</a>をご参照ください。</p>
						</div>
					</section>
				</article>

				<article id="services">
					<header>
						<h2 class="subtitle is-3">自社サービス</h2>
					</header>
					<section class="section">
						<div class="content">
							<p>
								東雲火山の「火山」の部分には、<strong>島</strong>を生み出すもの、という意味が込められています。
							</p>
							<p>
								島とはプラットフォームの比喩であり、東雲火山は<strong>プラットフォームを生み出す会社</strong>にしたいためにそう名付けられました。
							</p>
							<p>
								断片の価値を生かすため、「よい感じのプロダクトを作ったのに、上が止めていてリリースできない」といった事態はできる限り避けたいと考えています。
							</p>
							<p>
								これを避ける一つのポリシーとして「思い立ったら即S-IN」を掲げており、すでに市場にあるものと大体似たようなものでも、考えたら作ってまず世に出してみる、という方向で進める予定です。
							</p>
						</div>
						<div class="content">
							<section id="geo_magic">
								<header>
									<h3 class="subtitle is-4">位置情報サーバを利用したサービス提供</h3>
								</header>
								<section class="section" style="padding: 0 0 0 1em">
									<div class="content">
										<p>
											東雲火山は位置情報のデータベース、API等を提供する自社商品を保持しており、こちらのライセンシーやこの商品を生かした新規サービスの開発に積極的です。
										</p>
										<p>位置情報を使ったサービスを作ってみたい方は、試しにお声がけください。</p>
										<p><a href="./files/products/geo-magic.pdf">Geo Magicの商品紹介</a></p>
									</div>
								</section>
							</section>
						</div>
						<div class="content">
							<section id="vr">
								<header>
									<h3 class="subtitle is-4">
										3Dアバター制作と、バーチャルリアリティに対応した3D空間の構築
									</h3>
								</header>
								<section class="section" style="padding: 0 0 0 1em">
									<div class="content">
										<p>
											ハイポリとローポリの3Dアバターを制作し、ユーザーの個性を自由に表現します。
										</p>
										<p>
											また、バーチャルリアリティに対応した3D空間の構築も行う事が可能です。一例として、「Metametakazan」で東雲火山の事業実績をVRChatで見れる空間を公開しています。
										</p>
										<p>
											VRサービスに対応したコンテンツを作ってみたい方は、お気軽にお声がけください。
										</p>
										<ul>
											<li>
												3Dアバター（<a
													href="https://hub.vroid.com/characters/3866446626640350400/models/1797481855026369122"
													>ハイポリ</a
												>・<a href="https://vscs.shinonomekazan.com/model/">ローポリ</a>）
											</li>
											<li>
												3D空間
												<a
													href="https://vrchat.com/home/launch?worldId=wrld_3e8cb213-51cc-4996-92d7-0b5aca47438c"
													>Metametakazan（超超火山）</a
												>
											</li>
										</ul>
									</div>
								</section>
							</section>
						</div>
					</section>
				</article>

				<article id="vietnam">
					<header>
						<h2 class="subtitle is-3">ベトナムとの業務</h2>
					</header>
					<section class="section">
						<div class="content">
							<p>
								東雲火山は2021年05月からベトナムに子会社も設立しており、
								子会社や現地とのコネクションを活用した業務を得意としています。
							</p>
							<p>
								開発以外にも、通訳、翻訳、会社設立、発注先のリストアップ、ベトナムでのサービス展開など、ベトナム関連での相談があればお気軽にご相談ください。
							</p>
						</div>
					</section>
				</article>
			</section>

			<article id="history">
				<header>
					<h2 class="subtitle is-3">このサイト以外の場所について</h2>
				</header>
				<section class="section">
					<div class="content">
						<ul>
							<li>
								<a href="https://github.com/shinonomekazan">GitHub</a><br />
								このWebサイト等各種ソースが置いてあります。<br />
								オープンを志向しており、公開できるものは文書でも、コードでも、なるべく多く公開していきます。
							</li>
							<li>
								<a href="https://contents.shinonomekazan.com">東雲火山の山麓</a><br />
								関係者ブログや東雲火山の運用を通して出てきたTipsなどをまとめておく場所です。VuePressを使っています。
							</li>
							<li>
								<a href="https://twitter.com/shinonomekazan">公式Xアカウント</a><br />
								会社運営に関することを時々呟いているアカウントです。
							</li>
						</ul>
					</div>
				</section>
			</article>
		</main>
		{{>footer}}
	</body>
</html>
