<!DOCTYPE html>
<html lang="ja">

<head>
	{{>head title="事業内容 | 株式会社東雲火山"}}
</head>

<body class="has-navbar-fixed-top">
	{{>header subtitle="事業内容"}}
	<main class="container">
		<section id="work">
			<article id="contracted_development">
				<header>
					<h2 class="subtitle is-3">受託・請負開発</h2>
				</header>
				<section class="section">
					<div class="content">
						<p>東雲火山はWeb/ゲーム系はフロントエンドもバックエンドも一通りこなす何でも屋です。</p>
						<p>人手が足りない、設計で困っている、プロジェクトに1チームだけ足りない、インフラだけ見られる人がいない、メンバーの教育に困っている、などがあれば、お気軽にご相談ください。何かしらお力になれると思います。</p>
						<p>まとまった開発案件も受けられますが、単価が高めな小さな法人なので、東雲火山で全て開発をするよりも組み合わせてのご利用が向いています。</p>
						<p>是非、プロジェクトに東雲火山という断片を加えてみる事をご検討ください。</p>
					</div>
				</section>
				<section id="prices" class="section">
					<h3 class="subtitle is-4">目安単価</h3>
					<div class="content">
						<p>東雲火山の本体は、基本的な受注単価の目安として人月で120万円という価格を設定しています。</p>
						<p>時間が減るごとに少しずつ単価が上がっていきます。時間単位での発注である必要はありませんが、金額感の目安としてご参照ください。</p>
						<p>お薦めは、東雲火山の週1 + 東雲火山以外の何か（自社、ベトナム、他の外注先等）、という構成での活用です。</p>
					</div>
					<div>
						<table class="table is-bordered">
							<thead>
								<tr class="has-background-dark">
									<th class="has-text-light">一週間での勤務時間</th>
									<th class="has-text-light">月額目安</th>
									<th class="has-text-light">1時間辺り</th>
									<th class="has-text-light">160時間換算</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>週5日（160時間相当）</th>
									<td>120万円</td>
									<td>7500円</td>
									<td>120万人月相当</td>
								</tr>
								<tr>
									<th>週4日（128時間相当）</th>
									<td>104万円</td>
									<td>8125円</td>
									<td>130万人月相当</td>
								</tr>
								<tr>
									<th>週3日（96時間相当）</th>
									<td>84万円</td>
									<td>8750円</td>
									<td>140万人月相当</td>
								</tr>
								<tr>
									<th>週2日（64時間相当）</th>
									<td>60万円</td>
									<td>9375円</td>
									<td>150万人月相当</td>
								</tr>
								<tr>
									<th>週1日（32時間相当）</th>
									<td>32万円</td>
									<td>10000円</td>
									<td>160万人月相当</td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>

				<section id="cases" class="section">
					<h3 class="subtitle is-4">得意な事</h3>
					<div class="content">
						<p>以下、東雲火山がこれまでの実績として、得意と言える事を記していきます。</p>
					</div>
					<section id="offshore_development" class="card">
						<div class="card-header is-primary">
							<p class="card-header-title">オフショア開発</p>
						</div>
						<div class="card-content">
							<p>東雲火山はベトナムの法人、フリーランサーとのつながりがあるため、その辺りを交えて開発チームを結成する事ができます。</p>
							<p>「格安で自社のスマートフォンアプリを作りたい」等の場合に、開発者の人月単価を30万円前後に設定したチームを組織する事ができます。</p>
							<p>デザインのみのご利用などもご検討いただけます。</p>
						</div>
					</section>

					<section id="cto_like_development" class="card">
						<div class="card-header is-primary">
							<p class="card-header-title">CTO不在プロジェクトでの技術コンサル</p>
						</div>
						<div class="card-content">
							<p>企画があり、資金もあるが、CTOに相当する立ち位置の人がおらずプロジェクトの進行に支障が出るケースがあります。</p>
							<p>開発予算の策定、開発会社の選定から、その開発部隊のマネージメントまで、丸ごとコントロールすることもできます。</p>
							<p>開発部隊がいないため、開発会社が示してきた見積もりの内訳が精査できない、開発会社の質問に答えられない等の事態も防げます。</p>
							<p>試しに週1くらいで入れてみてください。きっと力になれます。</p>
						</div>
					</section>

					<section id="programming_consultant" class="card">
						<div class="card-header">
							<p class="card-header-title">設計やコードのコンサルティング</p>
						</div>
						<div class="card-content">
							<p>例えば学生ベンチャーが生放送サービスの開発をするとして、設計をしてみたが本当に運用に耐えるのか不安といったケースがあると思います。</p>
							<p>ある程度、大規模なシステム運用の経験があるため、その経験を基にアドバイスをすることも、自分ならこう設計するという案を出すこともできます。</p>
							<p>GitHubのPull Request Reviewだけでも、といったニーズにも対応できます。</p>
						</div>
					</section>

					<section id="educative_management" class="card">
						<div class="card-header">
							<p class="card-header-title">教育も兼ねたチーム運営</p>
						</div>
						<div class="card-content">
							<p>どこの開発現場でも頭が痛いのは、リーダークラスの不足ではないでしょうか。</p>
							<p>リーダーが多忙なため、上手く後進を育てる時間をとれない、といったケースでも、リーダー相当の技術力を持つ人員が少し補助するだけで、驚く程伸びるケースがあります。</p>
							<p>リーダークラスが相談できる相手がいないといった問題にも対応できると思います。</p>
						</div>
					</section>
				</section>
			</article>

			<article id="services">
				<header>
					<h2 class="subtitle is-3">自社サービス</h2>
				</header>
				<section class="section">
					<div class="content">
						<p>東雲火山の「火山」の部分には、<strong>島</strong>を生み出すもの、という意味が込められています。</p>
						<p>島とはプラットフォームの比喩であり、<strong>東雲火山はプラットフォームを生み出す会社</strong>にしたいためにそう名付けられました。</p>
						<p>断片の価値を生かすため、「よい感じのプロダクトを作ったのに、上が止めていてリリースできない」といった事態はできる限り避けたいと考えています。</p>
						<p>これを避ける一つのポリシーとして「思い立ったら即S-IN」を掲げており、すでに市場にあるものと大体似たようなものでも、考えたら作ってまず世に出してみる、という方向で進める予定です。</p>
					</div>
					<div class="content">
						<section id="geo_magic">
							<header>
								<h3 class="subtitle is-4">位置情報サーバを利用したサービス提供</h3>
							</header>
							<section class="section" style="padding:0 0 0 1em">
								<div class="content">
									<p>東雲火山は位置情報のデータベース、API等を提供する自社商品を保持しており、こちらのライセンシーやこの商品を生かした新規サービスの開発に積極的です。</p>
									<p>位置情報を使ったサービスを作ってみたい方は、試しにお声がけください。</p>
									<p><a href="./files/products/geo-magic.pdf">Geo Magicの商品紹介</a>></p>
								</div>
							</div>
						</section>
					</div>
				</section>
			</article>

			<article id="vietnam">
				<header>
					<h2 class="subtitle is-3">ベトナムとの業務</h2>
				</header>
				<section class="section">
					<div class="content">
						<p>東雲火山は、ベトナムの事情にそれなりに通じており、ベトナム人の友人も、ベトナムで事業をしている日本人の友人もそれなりにいます。</p>
						<p>通訳、翻訳、会社設立、発注先のリストアップ、ベトナムでのサービス展開など、ベトナム関連での相談があればお気軽にご相談ください。</p>
					</div>
				</section>
			</article>
		</section>


		<article id="history">
			<header>
				<h2 class="subtitle is-3">実績等</h2>
			</header>
			<section class="section">
				<div class="content">
					<p>創業したばかりで会社としての実績が少ないため、各種参考情報を適時貼っていきます。</p>
					<ul>
						<li>ソースコードやデモ
							<ul>
								<li><a href="https://github.com/shinonomekazan" target="_blank">GitHub</a><br/>
									このWebサイト等各種ソースが置いてあります。<br/>
									オープンを志向しており、公開できるものは文書でも、コードでも、なるべく多く公開していきます。</li>
								<li><a href="https://contents.shinonomekazan.com" target="_blank">東雲火山の山麓</a><br/>
									関係者ブログや東雲火山の運用を通して出てきたTipsなどをまとめておく場所です。VuePressを使っています。</li>
							</ul>
						</li>
						<li>作業実績等
							<ul>
								<li>2020年05月06日: <a href="./logo.html">Volcano Lineのロゴ</a>を追加</li>
								<li>2020年04月01日: 事業拡大に伴い、本社を移転</li>
								<li>2020年01月20日: ベトナムとの取引のため仮想通貨を導入</li>
								<li>2019年11月01日: スマートフォン向けゲームの開発業務を開始<br/>
									日本、ベトナムの混成部隊で、開発は全てベトナムというプロジェクトを取り回しています。</li>
								<li>2019年10月01日: 社員数が2名に増加</li>
								<li>2019年10月01日: 位置情報系開発業務を開始<br/>
									おおよその要件から仕様への落とし込み、開発チームのビルド、位置情報系のデータベース構築、実際の開発などを担当しています。</li>
								<li>2019年09月01日: ベトナムとの協業を開始<br/>
									Web系の開発業務等で活躍してもらいました。Firebase、Vue等を利用しています。</li>
								<li>2019年08月01日: VR系の開発業務を開始<br/>
									豊富な開発経験を生かして、プロジェクトの進行・仕様とりまとめ等の業務のみを受け持ちました。</li>
								<li>2019年07月12日: Web系の開発業務を開始<br/>
									プロジェクトの内技術的難易度の高いモジュールのみの開発を受け持ちました。</li>
								<li>2019年06月13日: 東京商工会議所に加盟</li>
								<li>2019年04月23日: <a href="./logo.html">コーポレートロゴ</a>が完成</li>
								<li>2019年04月01日: ゲーム系の開発業務を開始<br/>
									教育も兼ねたチーム運営等で、大きなプロジェクトの1チームを週1で切り盛りしています。</li>
								<li>2019年02月28日: <a href="https://contents.shinonomekazan.com" target="_blank">東雲火山の山麓</a>を公開</li>
								<li>2019年02月25日: 登記完了</li>
								<li>2019年02月22日: 本サイトを公開</li>
								<li>2019年02月14日: 登記手続き</li>
							</ul>
						</li>
					</ul>
				</div>
			</section>
		</article>

	</main>
	{{>footer}}
</body>

</html>
