<!-- Google Tag Manager (noscript) -->
<noscript
	><iframe
		src="https://www.googletagmanager.com/ns.html?id=GTM-NQRCP9WL"
		height="0"
		width="0"
		style="display: none; visibility: hidden"
	></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->
<header>
	<nav class="navbar is-light is-fixed-top">
		<div class="navbar-brand">
			<a class="navbar-item" href="/">
				<img alt="株式会社東雲火山" src="files/images/logo-wide-218x50.png" />
			</a>
			<a
				role="button"
				class="navbar-burger burger"
				aria-label="menu"
				aria-expanded="false"
				data-target="navbarMenuDocumentation"
			>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>
		<div id="navbarMenuDocumentation" class="navbar-menu">
			<div class="navbar-start">
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link">会社概要</a>
					<div class="navbar-dropdown">
						<a class="navbar-item" href="./">COMPANY OVERVIEW<br />会社概要</a>
						<a class="navbar-item" href="./history.html">HISTORY<br />沿革</a>
					</div>
				</div>
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link">事業内容</a>
					<div class="navbar-dropdown">
						<a class="navbar-item" href="./work.html">WORK<br />事業内容</a>
						<a class="navbar-item" href="./achievement.html">ACHIEVEMENT<br />事業実績</a>
					</div>
				</div>
				<a class="navbar-item" href="./announcement.html">公告等</a>
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link">採用</a>
					<div class="navbar-dropdown">
						<a class="navbar-item" href="./jobs.html">RECRUIT<br />採用について</a>
						<a class="navbar-item" href="./tech.html">TECHNOLOGY<br />利用技術</a>
						<a class="navbar-item" href="https://members.shinonomekazan.com/">
							<a class="navbar-item" href="./training.html">TRAINING POLICY<br />人材育成方針</a>
							<div class="flex">
								<img alt="NEW" src="files/images/NEW_orange.png" /> PEOPLE<br />
								「断片の価値の追求」とは何か？
							</div>
						</a>
					</div>
				</div>
				<a class="navbar-item" href="./contact.html">お問い合わせ</a>
			</div>
		</div>
	</nav>
	<section class="hero">
		<div class="hero-body">
			<h1 class="title is-1">株式会社東雲火山</h1>
			{{#if subtitle}}
			<h2 class="subtitle is-2">{{subtitle}}</h2>
			{{/if}}
		</div>
	</section>
</header>
